<!-- 파티 상세화면 -->

{% load static %}
{% load humanize %}

<html>
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/partyDetail_10.css' %}" rel="stylesheet"></a>
    <title>파티 글 상세</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="wrap">
    <nav id="topMenu">
        <ul>
            <li><a class="menuLink" href="#">LOGO</a></li>
            <li><a class="menuLink" href="#">홈</a></li>
            <li><a class="menuLink" href="{% url 'board_main' %}">영수증글</a></li>
            <li><a class="menuLink" href="{% url 'party_main' %}">영수증파티</a></li>
            <li><a class="menuLink" href="#">MY영수증</a></li>
            <li><input type="button" value="로그인" class="menuButton">
        </ul>
    </nav>

    <div class="content">
        
        <div class="title_area">
            <div class="content_text">영수증 파티</div>

            <div class="title_name">
                <span class="party_category">{{party_detail.category}}</span>
                {{party_detail.team_name}}</div>
            
            
            <div class="party_info">
            <span id="party_info_text">파티원</span>
            <span id="party_count">{{party_detail.count_team_users}}</span>
            <span id="party_count_text">명</span>

            <span id="party_num_text">파티번호</span>
            <span id="party_num">{{party_detail.team_no}}</span>  

            
        </div>

        <!-- 수정/ 삭제 버튼 -->
        <!-- <div class="editAnddelete">
            <button id = "edit_btn">수정</button>
            <button id = "delete_btn">삭제</button>               
        </div> -->

        </div>


        <!-- 영수증 멤버 선택 -->
        <div class="party_mem">
            <ul class="party_mem_group">
                <li> 
                    <button id="defaultOpen"class="user_photo1" onclick="openMenu('Party1', this,'thick solid purple')"></button>
                    <div class="user_name" >파티장</div>
                    <div class="user_name">{{party_detail.leader_no.nickname}}</div>

                 </li>
                 <li> 
                    {% if party_detail.team_users.all.0 != None %}
                    <button id="click"class="user_photo2" onclick="openMenu('Party2', this, 'thick solid blue')"></button>
                    <div class="user_name">파티원</div>
                    <div class="user_name">{{party_detail.team_users.all.0.nickname}}</div>
                    {% else %}
                    <button id="click"class="user_photo2" onclick="openMenu('Party2', this, 'thick solid blue')"></button>
                    <div class="user_name">파티원</div>
                    <div class="user_name">모집중</div>
                    {% endif %}
                 </li>
                 <li> 
                    {% if party_detail.team_users.all.1 != None %}
                    <button id="click" class="user_photo3" onclick="openMenu('Party3', this, 'thick solid pink' )"></button>
                    <div class="user_name">파티원</div>
                    <div class="user_name">{{party_detail.team_users.all.1.nickname}}</div>
                    {% else %}
                    <button id="click" class="user_photo3" onclick="openMenu('Party3', this, 'thick solid pink' )"></button>
                    <div class="user_name">파티원</div>
                    <div class="user_name">모집중</div>
                    {% endif %}
                 </li>
                 <li id="user4"> 
                    {% if party_detail.team_users.all.2 != None %}
                    <button id = "click"class="user_photo4" onclick="openMenu('Party4', this, 'thick solid orange' )"></button>
                    <div class="user_name">파티원</div>
                    <div class="user_name">{{party_detail.team_users.all.2.nickname}}</div>
                    {% else %}
                    <button id = "click"class="user_photo4" onclick="openMenu('Party4', this, 'thick solid orange' )"></button>
                    <div class="user_name">파티원</div>
                    <div class="user_name">모집중</div>
                    {% endif %}
                 </li>
    
                 
            </ul>
        </div>
    
        <!-- 영수증1 -->
        <div id="Party1"class="receipt">
        
        {% if party_board1 != None %}
        <table id='receipt-table'>
            <tr>
                <th colspan="4" height="100px"> 
                    <span class="receipt_user_name">{{party_detail.leader_no.nickname}}</span>님의 지출영수증</th>
            </tr>
            <tr>
                <th>일시</th>
                <th>지출</th>
                <th>사용처</th>
                <th>내용</th>
            </tr>
            <tbody>
                {% if party_receipt1 != None %}
                {% for receipt in party_receipt1.all%}
                <tr id="no">
                    <td width="135px"> {{receipt.team_use_date}}</td>
                    <td width="134px"> {{receipt.team_cost|intcomma}}원</td>
                    <td width="134px">{{receipt.team_place}}</td>
                    <td width="348px" class="buy_reason">{{receipt.team_body}}</td>
                </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            
          </table>
          
          <!-- <div class="use_period">
            <div id="use_period_title">사용기간</div>
            <div id="use_date_text">7일</div>
            <input type="text" id="use_date">
          </div> -->
          <div class="use_price">
            <div id="use_price_title">총 금액</div>
            {% if sum1 != None %}
            <div id="use_price_text">{{sum1|intcomma}}원</div>
            {% endif %}
            
          </div>
        <div class="textfield">
            {{party_board1.0.team_body}}
            <!-- {% for board in party_board.all %}
            {% if board.team_writer_no == party_detail.leader_no %}
            {{ board.team_body}}
            {% endif %}
            {% endfor %} -->
        </div>
       
        
        <div class="good_bad">
            <button id="good"><img src="{% static 'img/good.png' %}">좋은 소비예요 <span id="good_num">14</span></button>
            <button id="bad"><img src="{% static 'img/bad.png' %}">나쁜 소비예요 <span id="bad_num">13</span></button>

        </div>

        {% endif %}
   
    </div>
    


<!-- 영수증2 -->
    <div id="Party2"class="receipt">

        {% if party_board2 != None %}
        <table id='receipt-table'>
            <tr>
                <th colspan="4" height="100px">
                    <span class="receipt_user_name">{{party_detail.team_users.all.0.nickname}}</span>님의 지출영수증</th>
            </tr>
            <tr>
                <th>일시</th>
                <th>지출</th>
                <th>사용처</th>
                <th>내용</th>
            </tr>
            <tbody>
                {% if party_receipt2 != None%}
                {% for receipt in party_receipt2.all%}
                <tr id="no">
                    <td width="135px">{{receipt.team_use_date}} </td>
                    <td width="134px">{{receipt.team_cost|intcomma}}원</td>
                    <td width="134px">{{receipt.team_place}}</td>
                    <td width="348px" class="buy_reason">{{receipt.team_body}}</td>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
          </table>
    
          <div class="use_price">
            <div id="use_price_title">총 금액</div>
            <div id="use_price_text">{{sum2|intcomma}}원</div>
            
          </div>
        <div class="textfield">
            {{party_board2.0.team_body}}
        </div>
       
        
        <div class="good_bad">
            <button id="good"><img src="{% static 'img/good.png' %}">좋은 소비예요 <span id="good_num">12</span></button>
            <button id="bad"><img src="{% static 'img/bad.png' %}">나쁜 소비예요 <span id="bad_num">13</span></button>

        </div>

    {% endif %}
   
    </div>


<!-- 영수증3 -->
    <div id="Party3"class="receipt">
        
        {% if party_board3 != None %}
        <table id='receipt-table'>
            <tr>
                <th colspan="4" height="100px"> 
                    <span class="receipt_user_name">{{party_detail.team_users.all.1.nickname}}</span>님의 지출영수증</th>
            </tr>
            <tr>
                <th>일시</th>
                <th>지출</th>
                <th>사용처</th>
                <th>내용</th>
            </tr>
            <tbody>
                {% if party_receipt3 != None%}
                {% for receipt in party_receipt3.all%}
                <tr id="no">
                    <td width="135px">{{receipt.team_use_date}} </td>
                    <td width="134px">{{receipt.team_cost|intcomma}}원</td>
                    <td width="134px">{{receipt.team_place}}</td>
                    <td width="348px" class="buy_reason">{{receipt.team_body}}</td>
                    </td>
                </tr>
                {% endfor%}
                {% endif %}
            </tbody>
          </table>
          
          <div class="use_price">
            <div id="use_price_title">총 금액</div>
            <div id="use_price_text">{{sum3|intcomma}}원</div>
            
          </div>
        <div class="textfield">
            {{party_board3.0.team_body}}
        </div>
       
        
        <div class="good_bad">
            <button id="good"><img src="{% static 'img/good.png' %}">좋은 소비예요 <span id="good_num">12</span></button>
            <button id="bad"><img src="{% static 'img/bad.png' %}">나쁜 소비예요 <span id="bad_num">13</span></button>

        </div>


        {%endif%}
    </div>

    <!-- 영수증4 -->
    <div id="Party4"class="receipt">
        
        {% if party_board4 != None %}
        <table id='receipt-table'>
            <tr>
                <th colspan="4" height="100px"> 
                    <span class="receipt_user_name">{{party_detail.team_users.all.2.nickname}}</span>님의 지출영수증</th>
            </tr>
            <tr>
                <th>일시</th>
                <th>지출</th>
                <th>사용처</th>
                <th>내용</th>
            </tr>
            <tbody>
                {% if party_receipt4 != None%}
                {% for receipt in party_receipt4.all %}
                <tr id="no">
                    <td width="135px">{{receipt.team_use_date}} </td>
                    <td width="134px">{{receipt.team_cost|intcomma}}원</td>
                    <td width="134px">{{receipt.team_place}}</td>
                    <td width="348px" class="buy_reason">{{receipt.team_body}}</td>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
                </tbody>
          </table>
          
          <div class="use_price">
            <div id="use_price_title">총 금액</div>
            <div id="use_price_text">{{sum4|intcomma}}원</div>
            
          </div>
        <div class="textfield">
           {{party_board4.0.team_body}}
        </div>
       
        
        <div class="good_bad">
            <button id="good"><img src="{% static 'img/good.png' %}">좋은 소비예요 <span id="good_num">12</span></button>
            <button id="bad"><img src="{% static 'img/bad.png' %}">나쁜 소비예요 <span id="bad_num">13</span></button>
        </div>


        {%endif%}
    </div>


<div class="comment_title_text">댓글 <span id="commnets_num">{{party_comment.all.count}}</span></div>
    <section class="comment_section">
        
            <div class="card-body">
                <!-- Comment form-->
                <section class="textarea_and_btn">
                    <form method ="post" action="{% url 'newcomment_party' party_detail.team_no %}">
                        {% csrf_token %}
                        <table>
                            <tr>
                                <td>
                                    <textarea id="comment_textarea" name="newcomment_team_body" type="text" placeholder="영수증에 대한 의견을 자유롭게 댓글로 남겨주세요."></textarea>
                                </td>
                                <td>
                                    <input class="comment_btn" value="입력" type="submit">
                                </td>
                            </tr>
                        </table>
                    </form>
                </section>
                <ul class="comment_list">
                    {% for comment in party_comment %}
                    <li>
                        <div class="d-flex">
                            <div class="comment_profile">
                                <img class="rounded-circle" src="{{comment.team_user_no.my_image}}" alt="..." width="50px" height="50px"/>
                            </div>
                            <div class="comment_area">
                                <div class="commentsName">{{comment.team_user_no.nickname}}&nbsp;
                                    <span style="font-size:smaller; font-weight: 300 !important;">{{comment.team_date|date:'Y.m.d H:i:s'}}</span></div>
                                <div class="commentsContent">{{comment.team_body}}</div>                      
                            </div>
                        </div>
                        
                    </li>
                    {% endfor %}
                
                </ul>
                


<!-- -------- -->

                
        
    </section>


<!-- Bootstrap 댓글 코드 문제 생길 시 아래 코드로 대체 -->
    <!-- <div class="comments">댓글 <span id="commnets_num">12</span></div>

    <textarea class="comments_textarea" placeholder="영수증에 대한 의견을 자유롭게 댓글로 남겨주세요."></textarea>
    <div class="comments_user_container">
        <div id="comments_user_profile">
            <img src="./images/comment_user_profile.png">
        </div>
        <div id="comments_user_name">USER NAME</div>
        <div id="comments_user_text">배달 시켜먹지 말고 최대한 집에서 해드세요</div>
    </div> -->

    <div class="final_btn">
        <button id="goList_btn" onclick="location.href='receipt_01.html' ">목록</button>
       
        </div>
</div>

</div>

<footer>푸터</footer>
    
<style>
    .user_photo1,.user_photo2,.user_photo3,.user_photo4{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: none;
    border: 0px;
    
}
/* 파티원 프로필 사진 */
.user_photo1{
    background-image: url({{party_detail.leader_no.my_image}});
    background-size: cover;
}

.user_photo2{
    background-image: url({{party_detail.team_users.all.0.my_image}});
    background-size: cover;
}

.user_photo3{
    background-image: url({{party_detail.team_users.all.1.my_image}});
    background-size: cover;
}

.user_photo4{
    background-image: url({{party_detail.team_users.all.2.my_image}});
    background-size: cover;
}

</style>
<script src="{% static 'js/partyDetail_10_01.js' %}"> </script>

<script type="text/javascript">
    

    

</script>






</body>
</html>