<!-- 파티 상세화면 -->

{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/partyDetail_10.css' %}" rel="stylesheet"></a>
    <title>파티 글 상세</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="wrap">
    <nav id="topMenu">
        <ul>
            <li><a class="menuLink" href="#">LOGO</a></li>
            <li><a class="menuLink" href="#">홈</a></li>
            <li><a class="menuLink" href="#">영수증글</a></li>
            <li><a class="menuLink" href="#">영수증파티</a></li>
            <li><a class="menuLink" href="#">MY영수증</a></li>
            <li><input type="button" value="로그인" class="menuButton">
        </ul>
    </nav>

    <div class="content">
        
        <div class="title_area">
            <div class="content_text">영수증 파티</div>

            <div class="title_name">
                <span class="party_category">절약</span>
                일주일치 장본 거 평가해주세요!</div>
            
            
            <div class="party_info">
            <span id="party_info_text">파티원</span>
            <span id="party_count">4</span>
            <span id="party_count_text">명</span>

            <span id="party_num_text">파티번호</span>
            <span id="party_num">028492892389</span>  

            
        </div>
        <div class="editAnddelete">
            <button id = "edit_btn">수정</button>
            <button id = "delete_btn">삭제</button>               
        </div>
        </div>


        <!-- 영수증 멤버 선택 -->
        <div class="party_mem">
            <ul class="party_mem_group">
                <li> 
                    <button id="defaultOpen"class="user_photo" onclick="openMenu('Party1', this,'thick solid purple')"></button>
                    <div class="user_name" >파티장</div>
                    <div class="user_name">USER1 NAME</div>

                 </li>
                 <li> 
                    <button id="click"class="user_photo" onclick="openMenu('Party2', this, 'thick solid blue')"></button>
                    <div class="user_name">파티원</div>
                    <div class="user_name">USER2 NAME</div>

                 </li>
                 <li> 
                    <button id="click" class="user_photo" onclick="openMenu('Party3', this, 'thick solid pink' )"></button>
                    <div class="user_name">파티원</div>
                    <div class="user_name">USER3 NAME</div>

                 </li>
                 <li id="user4"> 
                    <button id = "click"class="user_photo" onclick="openMenu('Party4', this, 'thick solid orange' )"></button>
                    <div class="user_name">파티원</div>
                    <div class="user_name">USER4 NAME</div>

                 </li>
    
                 
            </ul>
        </div>
    
        <!-- 영수증1 -->
        <div id="Party1"class="receipt">
        
        
        <table id='receipt-table'>
            <tr>
                <th colspan="4" height="100px"> 
                    <span class="receipt_user_name">User1</span>님의 지출영수증</th>
            </tr>
            <tr>
                <th>일시</th>
                <th>지출</th>
                <th>사용처</th>
                <th>내용</th>
            </tr>
            <tbody>
                <tr id="no">
                <td width="135px">6/6(금)<br>12:23 </td>
                <td width="134px">13,500원</td>
                <td width="134px">돈까스집</td>
                <td width="348px" class="buy_reason">회사 근처에서 <br>점심으로 돈까스 정식 </td>
                </td>
            </tr>
            <tr id="no">
                <td width="135px">6/6(금)<br>12:23 </td>
                <td width="134px">13,500원</td>
                <td width="134px">돈까스집</td>
                <td width="348px" class="buy_reason">회사 근처에서 <br>점심으로 돈까스 정식 </td>
                </td>
            </tr>
            <tr id="no">
                <td width="135px">6/6(금)<br>12:23 </td>
                <td width="134px">13,500원</td>
                <td width="134px">돈까스집</td>
                <td width="348px" class="buy_reason">회사 근처에서 <br>점심으로 돈까스 정식 </td>
                </td>
            </tr>
            <tr id="no">
                <td width="135px">6/6(금)<br>12:23 </td>
                <td width="134px">13,500원</td>
                <td width="134px">돈까스집</td>
                <td width="348px" class="buy_reason">회사 근처에서 <br>점심으로 돈까스 정식 </td>
                </td>
            </tr>
            <tr id="no">
                <td width="135px">6/6(금)<br>12:23 </td>
                <td width="134px">13,500원</td>
                <td width="134px">돈까스집</td>
                <td width="348px" class="buy_reason">회사 근처에서 <br>점심으로 돈까스 정식 </td>
                </td>
            </tr>
            <tr id="no">
                <td width="135px">6/6(금)<br>12:23 </td>
                <td width="134px">13,500원</td>
                <td width="134px">돈까스집</td>
                <td width="348px" class="buy_reason">회사 근처에서 <br>점심으로 돈까스 정식 </td>
                </td>
            </tr>
                </tbody>
            
          </table>
          
          <div class="use_period">
            <div id="use_period_title">사용기간</div>
            <div id="use_date_text">7일</div>
            <input type="text" id="use_date">
          </div>
          <div class="use_price">
            <div id="use_price_title">총 금액</div>
            <div id="use_price_text">3,000,000원</div>
            
          </div>
        <div class="textfield">
            안녕하세요, 웹디자이너로 일하고 있는 27살 여자입니다. 최근 일주일 동안 쓴 내역인데 어떤가요? 
            올해 안에 2000만원까지 모으는게 목표입니다. 여기서 좀 더 줄일 만한 부분 있나요?
        </div>
       
        
        <div class="good_bad">
            <button id="good"><img src="{% static 'img/good.png' %}">좋은 소비예요 <span id="good_num">14</span></button>
            <button id="bad"><img src="{% static 'img/bad.png' %}">나쁜 소비예요 <span id="bad_num">13</span></button>

        </div>


   
    </div>


<!-- 영수증2 -->
    <div id="Party2"class="receipt">
        
        
        <table id='receipt-table'>
            <tr>
                <th colspan="4" height="100px">
                    <span class="receipt_user_name">User2</span>님의 지출영수증</th>
            </tr>
            <tr>
                <th>일시</th>
                <th>지출</th>
                <th>사용처</th>
                <th>내용</th>
            </tr>
            <tbody>
                <tr id="no">
                <td width="135px">6/6(금)<br>12:23 </td>
                <td width="134px">13,500원</td>
                <td width="134px">고양이 사료</td>
                <td width="348px" class="buy_reason">반려동물 <br>사료 구입</td>
                </td>
            </tr>
            <tr id="no">
                <td width="135px">6/6(금)<br>12:23 </td>
                <td width="134px">13,500원</td>
                <td width="134px">고양이 사료</td>
                <td width="348px" class="buy_reason">반려동물 <br>사료 구입</td>
                </td>
            </tr>
            <tr id="no">
                <td width="135px">6/6(금)<br>12:23 </td>
                <td width="134px">13,500원</td>
                <td width="134px">고양이 사료</td>
                <td width="348px" class="buy_reason">반려동물 <br>사료 구입</td>
                </td>
            </tr>
            <tr id="no">
                <td width="135px">6/6(금)<br>12:23 </td>
                <td width="134px">13,500원</td>
                <td width="134px">고양이 사료</td>
                <td width="348px" class="buy_reason">반려동물 <br>사료 구입</td>
                </td>
            </tr>
            
            
                </tbody>
            
          </table>
          
          <div class="use_period">
            <div id="use_period_title">사용기간</div>
            <div id="use_date_text">7일</div>
            <input type="text" id="use_date">
          </div>
          <div class="use_price">
            <div id="use_price_title">총 금액</div>
            <div id="use_price_text">3,000,000원</div>
            
          </div>
        <div class="textfield">
            3일차 영수증!
        </div>
       
        
        <div class="good_bad">
            <button id="good"><img src="{% static 'img/good.png' %}">좋은 소비예요 <span id="good_num">12</span></button>
            <button id="bad"><img src="{% static 'img/bad.png' %}">나쁜 소비예요 <span id="bad_num">13</span></button>

        </div>


   
    </div>
<!-- 영수증3 -->
    <div id="Party3"class="receipt">
        
        
        <table id='receipt-table'>
            <tr>
                <th colspan="4" height="100px"> 
                    <span class="receipt_user_name">User3</span>님의 지출영수증</th>
            </tr>
            <tr>
                <th>일시</th>
                <th>지출</th>
                <th>사용처</th>
                <th>내용</th>
            </tr>
            <tbody>
                <tr id="no">
                <td width="135px">6/6(금)<br>12:23 </td>
                <td width="134px">13,500원</td>
                <td width="134px">3분카레 10개 묶음</td>
                <td width="348px" class="buy_reason">1년치 카레 <br>묶음으로 구입 </td>
                </td>
            </tr>
            <tr id="no">
                <td width="135px">6/6(금)<br>12:23 </td>
                <td width="134px">13,500원</td>
                <td width="134px">3분카레 10개 묶음</td>
                <td width="348px" class="buy_reason">1년치 카레 <br>묶음으로 구입 </td>
                </td>
            </tr>
            <tr id="no">
                <td width="135px">6/6(금)<br>12:23 </td>
                <td width="134px">13,500원</td>
                <td width="134px">3분카레 10개 묶음</td>
                <td width="348px" class="buy_reason">1년치 카레 <br>묶음으로 구입 </td>
                </td>
            </tr>
            <tr id="no">
                <td width="135px">6/6(금)<br>12:23 </td>
                <td width="134px">13,500원</td>
                <td width="134px">3분카레 10개 묶음</td>
                <td width="348px" class="buy_reason">1년치 카레 <br>묶음으로 구입 </td>
                </td>
            </tr>
            <tr id="no">
                <td width="135px">6/6(금)<br>12:23 </td>
                <td width="134px">13,500원</td>
                <td width="134px">3분카레 10개 묶음</td>
                <td width="348px" class="buy_reason">1년치 카레 <br>묶음으로 구입 </td>
                </td>
            </tr>
            <tr id="no">
                <td width="135px">6/6(금)<br>12:23 </td>
                <td width="134px">13,500원</td>
                <td width="134px">3분카레 10개 묶음</td>
                <td width="348px" class="buy_reason">1년치 카레 <br>묶음으로 구입 </td>
                </td>
            </tr>
                </tbody>
            
          </table>
          
          <div class="use_period">
            <div id="use_period_title">사용기간</div>
            <div id="use_date_text">7일</div>
            <input type="text" id="use_date">
          </div>
          <div class="use_price">
            <div id="use_price_title">총 금액</div>
            <div id="use_price_text">3,000,000원</div>
            
          </div>
        <div class="textfield">
            저 장본 거 솔직하게 평가해주세요!!
        </div>
       
        
        <div class="good_bad">
            <button id="good"><img src="{% static 'img/good.png' %}">좋은 소비예요 <span id="good_num">12</span></button>
            <button id="bad"><img src="{% static 'img/bad.png' %}">나쁜 소비예요 <span id="bad_num">13</span></button>

        </div>


   
    </div>

    <!-- 영수증4 -->
    <div id="Party4"class="receipt">
        
        
        <table id='receipt-table'>
            <tr>
                <th colspan="4" height="100px"> 
                    <span class="receipt_user_name">User4</span>님의 지출영수증</th>
            </tr>
            <tr>
                <th>일시</th>
                <th>지출</th>
                <th>사용처</th>
                <th>내용</th>
            </tr>
            <tbody>
                <tr id="no">
                <td width="135px">6/6(금)<br>12:23 </td>
                <td width="134px">5,500원</td>
                <td width="134px">라면 5봉지</td>
                <td width="348px" class="buy_reason">신라면 5봉지 <br> 묶음으로 삼 </td>
                </td>
            </tr>
            <tr id="no">
                <td width="135px">6/6(금)<br>12:23 </td>
                <td width="134px">13,500원</td>
                <td width="134px">라면 5봉지</td>
                <td width="348px" class="buy_reason">신라면 5봉지 <br> 묶음으로 삼 </td>
                </td>
            </tr>
            <tr id="no">
                <td width="135px">6/6(금)<br>12:23 </td>
                <td width="134px">13,500원</td>
                <td width="134px">라면 5봉지</td>
                <td width="348px" class="buy_reason">신라면 5봉지 <br> 묶음으로 삼 </td>
                </td>
            </tr>
            <tr id="no">
                <td width="135px">6/6(금)<br>12:23 </td>
                <td width="134px">13,500원</td>
                <td width="134px">라면 5봉지</td>
                <td width="348px" class="buy_reason">신라면 5봉지 <br> 묶음으로 삼 </td>
                </td>
            </tr>
            <tr id="no">
                <td width="135px">6/6(금)<br>12:23 </td>
                <td width="134px">13,500원</td>
                <td width="134px">라면 5봉지</td>
                <td width="348px" class="buy_reason">신라면 5봉지 <br> 묶음으로 삼 </td>
                </td>
            </tr>
            <tr id="no">
                <td width="135px">6/6(금)<br>12:23 </td>
                <td width="134px">13,500원</td>
                <td width="134px">라면 5봉지</td>
                <td width="348px" class="buy_reason">신라면 5봉지 <br> 묶음으로 삼 </td>
                </td>
            </tr>
                </tbody>
            
          </table>
          
          <div class="use_period">
            <div id="use_period_title">사용기간</div>
            <div id="use_date_text">7일</div>
            <input type="text" id="use_date">
          </div>
          <div class="use_price">
            <div id="use_price_title">총 금액</div>
            <div id="use_price_text">3,000,000원</div>
            
          </div>
        <div class="textfield">
            라면 끊어야 되는데 참을 수가 없네요😅 쓴 소리 환영합니다
        </div>
       
        
        <div class="good_bad">
            <button id="good"><img src="{% static 'img/good.png' %}">좋은 소비예요 <span id="good_num">12</span></button>
            <button id="bad"><img src="{% static 'img/bad.png' %}">나쁜 소비예요 <span id="bad_num">13</span></button>
        </div>


   
    </div>


<div class="comment_title_text">댓글 <span id="commnets_num">9</span></div>
    <section class="comment_section">
        
            <div class="card-body">
                <!-- Comment form-->
                <section class="textarea_and_btn">
                    
                    <textarea id="comment_textarea" type="text" placeholder="영수증에 대한 의견을 자유롭게 댓글로 남겨주세요."></textarea>
                    <button class="comment_btn">입력</button>
                </section>
                <ul class="comment_list">
                    <li>
                        <div class="d-flex">
                            <div class="comment_profile"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="comment_area">
                                <div class="commentsName">USER NAME <span>2022.08.02</span></div>
                                <div class="commentsContent">배달 시켜먹지 말고 최대한 집에서 해드세요 </div>                      
                            </div>
                        </div>
                        
                    </li>

                    <li>
                        <div class="d-flex">
                            <div class="comment_profile"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="comment_area">
                                <div class="commentsName">USER NAME</div>
                                <div class="commentsContent">배달 시켜먹지 말고 최대한 집에서 해드세요 </div>                      
                            </div>
                        </div>
                    </li>
                
                </ul>
                


<!-- -------- -->

                
        
    </section>


<!-- Bootstrap 댓글 코드 문제 생길 시 아래 코드로 대체 -->
    <!-- <div class="comments">댓글 <span id="commnets_num">12</span></div>

    <textarea class="comments_textarea" placeholder="영수증에 대한 의견을 자유롭게 댓글로 남겨주세요."></textarea>
    <div class="comments_user_container">
        <div id="comments_user_profile">
            <img src="./images/comment_user_profile.png">
        </div>
        <div id="comments_user_name">USER NAME</div>
        <div id="comments_user_text">배달 시켜먹지 말고 최대한 집에서 해드세요</div>
    </div> -->

    <div class="final_btn">
        <button id="goList_btn" onclick="location.href='receipt_01.html' ">목록</button>
       
        </div>
</div>

</div>

<footer>푸터</footer>
    

<script src="{% static 'js/partyDetail_10.js' %}"> </script>

<script type="text/javascript">
    

    

</script>






</body>
</html>