<!-- 파티 가입화면 -->

{% load static %}
{% load humanize %}
<html>
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/party_getin_01.css' %}" rel="stylesheet"></a>
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap" rel="stylesheet">
</head>

<body>
    <nav id="topMenu">
        <ul>
            <li><a class="menuLink" href="{% url 'home' %}">LOGO</a></li>
            <li><a class="menuLink" href="{% url 'home' %}">홈</a></li>
            <li><a class="menuLink" href="{% url 'board_main' %}">영수증글</a></li>
            <li><a class="menuLink" href="{% url 'party_main' %}">영수증파티</a></li>
            <li><a class="menuLink" href="{% url 'mypage' %}">MY영수증</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}"><input type="button" value="로그아웃" class="menuButton"></a>
            {% else %}
            <li><a href="{% url 'login' %}"><input type="button" value="로그인" class="menuButton"></a>
            {% endif %}
        </ul>
    </nav>
    <hr style="background-color:F2F2F2; height:3px;border:none;">

    <div class="content1"></div>

    <div class="content2">
        {% if party_detail.category != None %}
        <div class="main_text">{{party_detail.category}}</div>
        {% else %}
        <div class="main_text"></div>
        {% endif %}
        {% comment %} <input type="button" value="파티 만들기+" class="content2_btn"> {% endcomment %}
        <hr class="content2_line">
        <div class="sub_text">영수증 파티</div>
        <div class="text1">절약</div>
        <div class="text2">{{party_detail.team_name}}</div>
        <div class="content2_img"><img class="profile-img" src="{{party_detail.leader_no.my_image}}"></div>
        <div class="text3">{{party_detail.leader_no.nickname}}</div>
        <hr class="content2_line">
        <div class="text4">파티원</div>
        <div class="text5">4</div>
        <div class="text6">명</div>
        <div class="text7">현재 참여 인원</div>
        <div class="text8">{{party_detail.count_team_users}}</div>
        <div class="text9">명</div>
         <hr class="content2_line">
    </div>

    <div class="content3">
        <table>
            <tbody>
                <tr>
                    <td>
                        <img src="{{party_detail.leader_no.my_image}}" class="content3_img1">
                    </td>
                    <td>
                        {% if party_detail.team_users.all.0 != None %}
                        <img src="{{party_detail.team_users.all.0.my_image}}" class="content3_img2">
                        {% else %}
                        <img src="{% static 'img/img5-party_12.jpg' %}" class="content3_img2">
                        {% endif %}
                    </td>
                    <td>
                        {% if party_detail.team_users.all.1 != None %}
                        <img src="{{party_detail.team_users.all.1.my_image}}" class="content3_img3">
                        {% else %}
                        <img src="{% static 'img/img5-party_12.jpg' %}" class="content3_img3">
                        {% endif %}
                    </td>
                    <td>
                        {% if party_detail.team_users.all.2 != None %}
                        <img src="{{party_detail.team_users.all.2.my_image}}" class="content3_img4">
                        {% else %}
                        <img src="{% static 'img/img5-party_12.jpg' %}" class="content3_img4">
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="member1">👑파티장</p>
                    </td>
                    <td>
                        <p class="member2">파티원</p>
                    </td>
                    <td>
                        <p class="member3">파티원</p>
                    </td>
                    <td>
                        <p class="member4">파티원</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="member1_detail">{{party_detail.leader_no.nickname}}</p>
                    </td>
                    <td>
                        {% if party_detail.team_users.all.0 != None %}
                        <p class="member2_detail">{{party_detail.team_users.all.0.nickname}}</p>
                        {% else %}
                        <p class="member2_detail">모집중</p>
                        {% endif %}
                    </td>
                    <td>
                        {% if party_detail.team_users.all.1 != None %}
                        <p class="member3_detail">{{party_detail.team_users.all.1.nickname}}</p>
                        {% else %}
                        <p class="member3_detail">모집중</p>
                        {% endif %}
                    </td>
                    <td>
                        {% if party_detail.team_users.all.2 != None %}
                        <p class="member4_detail">{{party_detail.team_users.all.2.nickname}}</p>
                        {% else %}
                        <p class="member4_detail">모집중</p>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr class="content2_line">
    
    <div class="content4">
        <pre>
            {{party.content}}
        </pre>
    </div>
    <hr class="content2_line">

    {% comment %} <div class="content5">
        <div class="content5_text">댓글</div>
        <input type="text" value="파티장에게 궁금한 점이 있다면 댓글로 문의를 남겨주세요.  (댓글은 파티장만 확인할 수 있습니다)" class="content5_box">
    </div> {% endcomment %}
    <form method="POST">
        {% csrf_token %}
    <div class="content6">
    
    {% if party_detail.leader_no.nickname != user.nickname and party_detail.team_users.all.0.nickname != user.nickname and party_detail.team_users.all.1.nickname != user.nickname and party_detail.team_users.all.2.nickname != user.nickname %}
    <a href="{% url 'party_main' %}"><input type="button" value="목록" class="content5_btn1"></a>
    <input type="submit" value="가입하기" class="content5_btn2">
    {% else %}
    <a href="{% url 'party_main' %}"><input type="button" value="목록" class="content5_btn0"></a>
    {% endif %}
    </form>
</div>
