{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/receipt_01_02.css' %}">
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap" rel="stylesheet">
</head>

<body>
    <nav id="topMenu">
        <ul>
            <li><a class="menuLink" href="#">LOGO</a></li>
            <li><a class="menuLink" href="#">홈</a></li>
            <li><a class="menuLink" href="{% url 'board_main' %}">영수증글</a></li>
            <li><a class="menuLink" href="{% url 'party_main' %}">영수증파티</a></li>
            <li><a class="menuLink" href="#">MY영수증</a></li>
            <li><input type="button" value="로그인" class="menuButton">
        </ul>
    </nav>

    <hr style="background-color:F2F2F2; height:3px;border:none;">

    <div class="content1"></div>

    <!-- 인기 영수증 -->
    <div class="content2">
        <div class="content2_text">인기영수증</div>

        <!-- 1위 영수증 -->
        <div class="content2_receipt1">
            {% if hot.0 != None%}
            <a class="a_title" href="{% url 'board_detail' hot.0.board_no %}"><div class="content2_receipt1_text1">{{hot.0.title}}</div></a>
            <div class="content2_receipt1_text2">
                {% for t in hot.0.tags.all %}
                #{{t.tagname}}
                {% endfor %}
            </div>
            <div class="content2_receipt1_text3">{{hot.0.date|date:'Y.m.d'}}</div>
            <hr class="content2_receipt1_line">
            <div class="content2_receipt1_profile">
                <img class="rounded-circle" src="{{ hot.0.user_no.my_image }}" width="30px" height="30px">
                <p class="content2_receipt1_profile_name">{{hot.0.user_no.nickname}}</p>
            </div>
            {% else %}
            <div class="content2_receipt1_text1"></div>
            <div class="content2_receipt1_text2"></div>
            <div class="content2_receipt1_text3"></div>
            <hr class="content2_receipt1_line">
            <div class="content2_receipt1_profile"></div>
            {% endif %}
        </div>

    
        <!-- 2위 영수증 -->
        <div class="content2_receipt2">
            {% if hot.1 != None %}
            <a class="a_title" href="{% url 'board_detail' hot.1.board_no %}">
                <div class="content2_receipt1_text1">{{hot.1.title}}</div></a>
            <div class="content2_receipt1_text2">
                {% for t in hot.1.tags.all %}
                #{{t.tagname}}
                {% endfor %}
            </div>
            <div class="content2_receipt1_text3">{{hot.1.date|date:'Y.m.d'}}</div>
            <hr class="content2_receipt1_line">
            <div class="content2_receipt1_profile">
                <img class="rounded-circle" src="{{ hot.1.user_no.my_image }}" width="30px" height="30px">
                <p class="content2_receipt1_profile_name">{{hot.1.user_no.nickname}}</p>
            </div>
            {% else %}
            <div class="content2_receipt1_text1"></div>
            <div class="content2_receipt1_text2"></div>
            <div class="content2_receipt1_text3"></div>
            <hr class="content2_receipt1_line">
            <div class="content2_receipt1_profile"></div>
            {% endif %}
        </div>

        <!-- 3위 영수증 -->
        <div class="content2_receipt3">
            {% if hot.2 != None %}
            <a class="a_title" href="{% url 'board_detail' hot.2.board_no %}">
                <div class="content2_receipt1_text1">{{hot.2.title}}</div></a>
            <div class="content2_receipt1_text2">
                {% for t in hot.2.tags.all %}
                #{{t.tagname}}
                {% endfor %}
            </div>
            <div class="content2_receipt1_text3">{{hot.2.date|date:'Y.m.d'}}</div>
            <hr class="content2_receipt1_line">
            <div class="content2_receipt1_profile">
                <img class="rounded-circle" src="{{ hot.2.user_no.my_image }}" width="30px" height="30px">
                <p class="content2_receipt1_profile_name">{{hot.2.user_no.nickname}}</p>
            </div>
            {% else %}
            <div class="content2_receipt1_text1"></div>
            <div class="content2_receipt1_text2"></div>
            <div class="content2_receipt1_text3"></div>
            <hr class="content2_receipt1_line">
            <div class="content2_receipt1_profile"></div>
            {% endif %}
        </div>


        <!-- 4위 영수증 -->
        <div class="content2_receipt4">
            {% if hot.3 != None %}
            <a class="a_title" href="{% url 'board_detail' hot.3.board_no %}">
                <div class="content2_receipt1_text1">{{hot.3.title}}</div></a>
            <div class="content2_receipt1_text2">
                {% for t in hot.3.tags.all %}
                #{{t.tagname}}
                {% endfor %}
            </div>
            <div class="content2_receipt1_text3">{{hot.3.date|date:'Y.m.d'}}</div>
            <hr class="content2_receipt1_line">
            <div class="content2_receipt1_profile">
                <img class="rounded-circle" src="{{ hot.3.user_no.my_image }}" width="30px" height="30px">
                <p class="content2_receipt1_profile_name">{{hot.3.user_no.nickname}}</p>
            </div>
            {% else %}
            <div class="content2_receipt1_text1"></div>
            <div class="content2_receipt1_text2"></div>
            <div class="content2_receipt1_text3"></div>
            <hr class="content2_receipt1_line">
            <div class="content2_receipt1_profile"></div>
            {% endif %}
        </div>
    </div>

    <div class="content3">
        <div class="content3_top">
            <p class="content3_text">영수증 글</p>
            <a href="{% url 'board_write' %}"><input type="button" value="영수증 작성+" class="content3_btn"></a>
        </div>

        <br>
        <hr style="background-color:F2F2F2; height:2px;border:none;">

        <!-- 검색 기능
        <div class="search">
            <input type="search" value="검색" class="search_icon">
        </div> -->

        <!-- 검색 기능 -->
        <form method='post' class="search">
            {% csrf_token %}
            <input type="" name="search_button" value="검색" class="search_icon">
            </form>

        
        <div class="content3_icon">
            <div input type="button" class="content3_icon1">#하루영수증</div>
            <div input type="button" class="content3_icon2">#일주일영수증</div>
            <div input type="button" class="content3_icon3">#장보기</div>
            <div input type="button" class="content3_icon4">#한달영수증</div>
            <div input type="button" class="content3_icon5">#생활비</div>
        </div>

        <!-- 키워드 검색이 되지 않았을 때 메인 화면 -->

        {% if keyword is None %}
        <!-- 영수증 모아놓은 div -->
        <div class="content3_receipt">
        
            <!-- 영수증 1줄 -->

            <!-- 1번째 영수증 -->
            <div class="content3_receipt1">
                {% if board.0 != None%}
            <a class="a_title" href="{% url 'board_detail' board.0.board_no%}"><div class="content3_receipt1_text1">{{board.0.title}}</div></a>
            <div class="content3_receipt1_text2">
                {% for t in board.0.tags.all %}
                #{{t.tagname}}
                {% endfor %}
            </div>
            <div class="content3_receipt1_text3">{{board.0.date|date:'Y.m.d'}}</div>
            <hr class="content3_receipt1_line">
            <div class="content3_receipt1_profile">
                <img class="rounded-circle" src="{{ board.0.user_no.my_image }}" width="30px" height="30px">
                <p class="content3_receipt1_profile_name">{{board.0.user_no.nickname}}</p>
            </div>
            
                <!-- 존재하지 않을 때 -->
                {%else%}
                <div class="content3_receipt1_text1"></div>
                <div class="content3_receipt1_text2"></div>
                <div class="content3_receipt1_text3"></div>
                <hr class="content3_receipt1_line">
                <div class="content3_receipt1_profile"></div>
                <!-- if문 종료-->
                {%endif%}
            </div>

            <!-- 2번째 영수증 -->
            <div class="content3_receipt2">
                {% if board.1 != None%}
            <a class="a_title" href="{% url 'board_detail' board.1.board_no %}"><div class="content3_receipt1_text1">{{board.1.title}}</div></a>
            <div class="content3_receipt1_text2">
                {% for t in board.1.tags.all %}
                #{{t.tagname}}
                {% endfor %}
            </div>
            <div class="content3_receipt1_text3">{{board.1.date|date:'Y.m.d'}}</div>
            <hr class="content3_receipt1_line">
            <div class="content3_receipt1_profile">
                <img class="rounded-circle" src="{{ board.1.user_no.my_image }}" width="30px" height="30px">
                <p class="content3_receipt1_profile_name">{{board.1.user_no.nickname}}</p>
            </div>
            
                <!-- 존재하지 않을 때 -->
                {%else%}
                <div class="content3_receipt1_text1"></div>
                <div class="content3_receipt1_text2"></div>
                <div class="content3_receipt1_text3"></div>
                <hr class="content3_receipt1_line">
                <div class="content3_receipt1_profile"></div>
                <!-- if문 종료-->
                {%endif%}
            </div>

            <!-- 3번째 영수증 -->
            <div class="content3_receipt3">
                {% if board.2 != None%}
            <a class="a_title" href="{% url 'board_detail' board.2.board_no%}"><div class="content3_receipt1_text1">{{board.2.title}}</div></a>
            <div class="content3_receipt1_text2">
                {% for t in board.2.tags.all %}
                #{{t.tagname}}
                {% endfor %}
            </div>
            <div class="content3_receipt1_text3">{{board.2.date|date:'Y.m.d'}}</div>
            <hr class="content3_receipt1_line">
            <div class="content3_receipt1_profile">
                <img class="rounded-circle" src="{{ board.2.user_no.my_image }}" width="30px" height="30px">
                <p class="content3_receipt1_profile_name">{{board.2.user_no.nickname}}</p>
            </div>
            
                <!-- 존재하지 않을 때 -->
                {%else%}
                <div class="content3_receipt1_text1"></div>
                <div class="content3_receipt1_text2"></div>
                <div class="content3_receipt1_text3"></div>
                <hr class="content3_receipt1_line">
                <div class="content3_receipt1_profile"></div>
                <!-- if문 종료-->
                {%endif%}
            </div>

            <!-- 영수증 2줄 -->

            <!-- 4번째 영수증 -->
            <div class="content3_receipt4">
                {% if board.3 != None %}
                <a class="a_title" href="{% url 'board_detail' board.3.board_no%}"><div class="content3_receipt1_text1">{{board.3.title}}</div></a>
            <div class="content3_receipt1_text2">
                {% for t in board.3.tags.all %}
                #{{t.tagname}}
                {% endfor %}
            </div>
            <div class="content3_receipt1_text3">{{board.3.date|date:'Y.m.d'}}</div>
            <hr class="content3_receipt1_line">
            <div class="content3_receipt1_profile">
                <img class="rounded-circle" src="{{ board.3.user_no.my_image }}" width="30px" height="30px">
                <p class="content3_receipt1_profile_name">{{board.3.user_no.nickname}}</p>
            </div>
            
                <!-- 존재하지 않을 때 -->
                {%else%}
                <div class="content3_receipt1_text1"></div>
                <div class="content3_receipt1_text2"></div>
                <div class="content3_receipt1_text3"></div>
                <hr class="content3_receipt1_line">
                <div class="content3_receipt1_profile"></div>
                <!-- if문 종료-->
                {%endif%}
            </div>

            <!-- 5번째 영수증 -->
            <div class="content3_receipt5">
                {% if board.4 != None %}
                <a class="a_title" href="{% url 'board_detail' board.4.board_no%}"><div class="content3_receipt1_text1">{{board.4.title}}</div></a>
            <div class="content3_receipt1_text2">
                {% for t in board.4.tags.all %}
                #{{t.tagname}}
                {% endfor %}
            </div>
            <div class="content3_receipt1_text3">{{board.4.date|date:'Y.m.d'}}</div>
            <hr class="content3_receipt1_line">
            <div class="content3_receipt1_profile">
                <img class="rounded-circle" src="{{ board.4.user_no.my_image }}" width="30px" height="30px">
                <p class="content3_receipt1_profile_name">{{board.4.user_no.nickname}}</p>
            </div>
            
                <!-- 존재하지 않을 때 -->
                {%else%}
                <div class="content3_receipt1_text1"></div>
                <div class="content3_receipt1_text2"></div>
                <div class="content3_receipt1_text3"></div>
                <hr class="content3_receipt1_line">
                <div class="content3_receipt1_profile"></div>
                <!-- if문 종료-->
                {%endif%}
            </div>

            <!-- 6번째 영수증 -->
            <div class="content3_receipt6">
                {% if board.5 != None %}
                <a class="a_title" href="{% url 'board_detail' board.5.board_no%}"><div class="content3_receipt1_text1">{{board.5.title}}</div></a>
            <div class="content3_receipt1_text2">
                {% for t in board.5.tags.all %}
                #{{t.tagname}}
                {% endfor %}
            </div>
            <div class="content3_receipt1_text3">{{board.5.date|date:'Y.m.d'}}</div>
            <hr class="content3_receipt1_line">
            <div class="content3_receipt1_profile">
            <img class="rounded-circle" src="{{ board.5.user_no.my_image }}" width="30px" height="30px">
            <p class="content3_receipt1_profile_name">{{board.5.user_no.nickname}}</p>
            </div>
            
                <!-- 존재하지 않을 때 -->
                {%else%}
                <div class="content3_receipt1_text1"></div>
                <div class="content3_receipt1_text2"></div>
                <div class="content3_receipt1_text3"></div>
                <hr class="content3_receipt1_line">
                <div class="content3_receipt1_profile"></div>
                <!-- if문 종료-->
                {%endif%}
            </div>

            <!--  영수증 3줄 -->
            <!-- '더보기' 를 누르면 숨겨졌었던 영수증이 다시 뜬다. -->
            <div class="content3_hide">

                <!-- 7번째 영수증-->
                <div class="content3_receipt7">
                    {% if board.6 != None %}
                    <a class="a_title" href="{% url 'board_detail' board.6.board_no%}"><div class="content3_receipt1_text1">{{board.6.title}}</div></a>
                    <div class="content3_receipt1_text2">
                    {% for t in board.6.tags.all %}
                    #{{t.tagname}}
                    {% endfor %}
                    </div>
                    <div class="content3_receipt1_text3">{{board.6.date|date:'Y.m.d'}}</div>
                    <hr class="content3_receipt1_line">
                    <div class="content3_receipt1_profile">
                        <img class="rounded-circle" src="{{ board.6.user_no.my_image }}" width="30px" height="30px">
                        <p class="content3_receipt1_profile_name">{{board.6.user_no.nickname}}</p>
                    </div>
                    
                <!-- 존재하지 않을 때 -->
                {%else%}
                <div class="content3_receipt1_text1"></div>
                <div class="content3_receipt1_text2"></div>
                <div class="content3_receipt1_text3"></div>
                <hr class="content3_receipt1_line">
                <div class="content3_receipt1_profile"></div>
                <!-- if문 종료-->
                {%endif%}
                </div>

                <!-- 8번째 영수증 -->
                <div class="content3_receipt8">
                    {% if board.7 != None %}
                    <a class="a_title" href="{% url 'board_detail' board.7.board_no%}"><div class="content3_receipt1_text1">{{board.7.title}}</div></a>
                    <div class="content3_receipt1_text2">
                        {% for t in board.7.tags.all %}
                        #{{t.tagname}}
                        {% endfor %}
                    </div>
                    <div class="content3_receipt1_text3">{{board.7.date|date:'Y.m.d'}}</div>
                    <hr class="content3_receipt1_line">
                    <div class="content3_receipt1_profile">
                        <img class="rounded-circle" src="{{ board.7.user_no.my_image }}" width="30px" height="30px">
                        <p class="content3_receipt1_profile_name">{{board.7.user_no.nickname}}</p>
                    </div>
                    
                <!-- 존재하지 않을 때 -->
                {%else%}
                <div class="content3_receipt1_text1"></div>
                <div class="content3_receipt1_text2"></div>
                <div class="content3_receipt1_text3"></div>
                <hr class="content3_receipt1_line">
                <div class="content3_receipt1_profile"></div>
                <!-- if문 종료-->
                {%endif%}
                </div>

                <!--9번째 영수증-->
                <div class="content3_receipt9">
                    {% if board.8 != None %}
                    <a class="a_title" href="{% url 'board_detail' board.8.board_no%}"><div class="content3_receipt1_text1">{{board.8.title}}</div></a>
                    <div class="content3_receipt1_text2">
                        {% for t in board.8.tags.all %}
                        #{{t.tagname}}
                        {% endfor %}
                    </div>
                    <div class="content3_receipt1_text3">{{board.8.date|date:'Y.m.d'}}</div>
                    <hr class="content3_receipt1_line">
                    <div class="content3_receipt1_profile">
                        <img class="rounded-circle" src="{{ board.8.user_no.my_image }}" width="30px" height="30px">
                        <p class="content3_receipt1_profile_name">{{board.8.user_no.nickname}}</p>
                    </div>
                    
                <!-- 존재하지 않을 때 -->
                {%else%}
                <div class="content3_receipt1_text1"></div>
                <div class="content3_receipt1_text2"></div>
                <div class="content3_receipt1_text3"></div>
                <hr class="content3_receipt1_line">
                <div class="content3_receipt1_profile"></div>
                <!-- if문 종료-->
                {%endif%}
                </div>
            </div>

            <!-- 더보기 버튼 -->
            <input type="button" class="content3_receipt_btn" value="더보기">

        <!-- 영수증 모아놓은 div 닫힘 -->
        </div>

        <!-- 키워드 검색이 들어왔을 때 메인 화면 -->
        {% elif keyword is not None%}

        <div class="content3_receipt">

            <!-- 영수증 1줄 -->

            <!-- 1번째 영수증 -->
            <div class="content3_receipt1">
                <!-- 검색 결과 1번째 영수증이 존재할 때 -->
                {% if post.0 != None%}
                <a class="a_title" href="{% url 'board_detail' post.0.board_no%}"><div class="content3_receipt1_text1">{{post.0.title}}</div></a>
                <div class="content3_receipt1_text2">
                    {% for t in post.0.tags.all %}
                    #{{t.tagname}}
                    {% endfor %}
                </div>
                <div class="content3_receipt1_text3">{{post.0.date|date:'Y.m.d'}}</div>
                <hr class="content3_receipt1_line">
                <div class="content3_receipt1_profile">
                    <img class="rounded-circle" src="{{ post.0.user_no.my_image }}" width="30px" height="30px">
                    <p class="content3_receipt1_profile_name">{{post.0.user_no.nickname}}</p>
                </div>
                <!-- 존재하지 않을 때 -->
                {%else%}
                <div class="content3_receipt1_text1"></div>
                <div class="content3_receipt1_text2"></div>
                <div class="content3_receipt1_text3"></div>
                <hr class="content3_receipt1_line">
                <div class="content3_receipt1_profile"></div>
                <!-- if문 종료-->
                {%endif%}
            </div>

            <!-- 2번째 영수증 -->
            <div class="content3_receipt2">
                <!-- 검색 결과 2번째 영수증이 존재할 때 -->
                {% if post.1 != None%}
                <a class="a_title" href="{% url 'board_detail' post.1.board_no%}"><div class="content3_receipt1_text1">{{post.1.title}}</div></a>
                <div class="content3_receipt1_text2">
                    {% for t in post.1.tags.all %}
                    #{{t.tagname}}
                    {% endfor %}
                </div>
                <div class="content3_receipt1_text3">{{post.1.date|date:'Y.m.d'}}</div>
                <hr class="content3_receipt1_line">
                <div class="content3_receipt1_profile">
                    <img class="rounded-circle" src="{{ post.1.user_no.my_image }}" width="30px" height="30px">
                    <p class="content3_receipt1_profile_name">{{post.1.user_no.nickname}}</p>
                </div>
                <!-- 존재하지 않을 때 -->
                {%else%}
                <div class="content3_receipt1_text1"></div>
                <div class="content3_receipt1_text2"></div>
                <div class="content3_receipt1_text3"></div>
                <hr class="content3_receipt1_line">
                <div class="content3_receipt1_profile"></div>
                {%endif%}
            </div>

            <!-- 3번째 영수증 -->
            <div class="content3_receipt3">
                <!-- 검색 결과 3번째 영수증이 존재할 때 -->
                {% if post.2 != None%}
                <a class="a_title" href="{% url 'board_detail' post.2.board_no%}"><div class="content3_receipt1_text1">{{post.2.title}}</div></a>
                <div class="content3_receipt1_text2">
                    {% for t in post.2.tags.all %}
                    #{{t.tagname}}
                    {% endfor %}
                </div>
                <div class="content3_receipt1_text3">{{post.2.date|date:'Y.m.d'}}</div>
                <hr class="content3_receipt1_line">
                <div class="content3_receipt1_profile">
                    <img class="rounded-circle" src="{{ post.2.user_no.my_image }}" width="30px" height="30px">
                    <p class="content3_receipt1_profile_name">{{post.2.user_no.nickname}}</p>
                </div>
                <!-- 존재하지 않을 때 -->
                {% else%}
                <div class="content3_receipt1_text1"></div>
                <div class="content3_receipt1_text2"></div>
                <div class="content3_receipt1_text3"></div>
                <hr class="content3_receipt1_line">
                <div class="content3_receipt1_profile"></div>
                {%endif%}
            </div>


            <!-- 영수증 2줄 -->

            <!-- 4번째 영수증 -->
            <div class="content3_receipt4">
                <!-- 검색 결과 4번째 영수증이 존재할 때 -->
                {% if post.3 != None%}
                <a class="a_title" href="{% url 'board_detail' post.3.board_no%}"><div class="content3_receipt1_text1">{{post.3.title}}</div></a>
                <div class="content3_receipt1_text2">
                    {% for t in post.3.tags.all %}
                    #{{t.tagname}}
                    {% endfor %}
                </div>
                <div class="content3_receipt1_text3">{{post.3.date|date:'Y.m.d'}}</div>
                <hr class="content3_receipt1_line">
                <div class="content3_receipt1_profile">
                    <img class="rounded-circle" src="{{ post.3.user_no.my_image }}" width="30px" height="30px">
                    <p class="content3_receipt1_profile_name">{{post.3.user_no.nickname}}</p>
                </div>
                <!-- 존재하지 않을 때 -->
                {% else %}
                <div class="content3_receipt1_text1"></div>
                <div class="content3_receipt1_text2"></div>
                <div class="content3_receipt1_text3"></div>
                <hr class="content3_receipt1_line">
                <div class="content3_receipt1_profile"></div>
                {%endif%}
            </div>

            <!-- 5번째 영수증 -->
            <div class="content3_receipt5">
                <!-- 검색 결과 5번째 영수증이 존재할 때 -->
                {% if post.4 != None%}
                <a class="a_title" href="{% url 'board_detail' post.4.board_no%}"><div class="content3_receipt1_text1">{{post.4.title}}</div></a>
                <div class="content3_receipt1_text2">
                    {% for t in post.4.tags.all %}
                    #{{t.tagname}}
                    {% endfor %}
                </div>
                <div class="content3_receipt1_text3">{{post.4.date|date:'Y.m.d'}}</div>
                <hr class="content3_receipt1_line">
                <div class="content3_receipt1_profile">
                    <img class="rounded-circle" src="{{ post.4.user_no.my_image }}" width="30px" height="30px">
                    <p class="content3_receipt1_profile_name">{{post.4.user_no.nickname}}</p>
                </div>
                <!-- 존재하지 않을 때 -->
                {% else%}
                <div class="content3_receipt1_text1"></div>
                <div class="content3_receipt1_text2"></div>
                <div class="content3_receipt1_text3"></div>
                <hr class="content3_receipt1_line">
                <div class="content3_receipt1_profile"></div>
                {%endif%}
            </div>

            <!-- 6번째 영수증-->
            <div class="content3_receipt6">
                <!-- 검색 결과 6번째 영수증이 존재할 때 -->
                {% if post.5 != None%}
                <a class="a_title" href="{% url 'board_detail' post.5.board_no%}"><div class="content3_receipt1_text1">{{post.5.title}}</div></a>
                <div class="content3_receipt1_text2">
                    {% for t in post.5.tags.all %}
                    #{{t.tagname}}
                    {% endfor %}
                </div>
                <div class="content3_receipt1_text3">{{post.5.date|date:'Y.m.d'}}</div>
                <hr class="content3_receipt1_line">
                <div class="content3_receipt1_profile">
                    <img class="rounded-circle" src="{{ post.5.user_no.my_image }}" width="30px" height="30px">
                    <p class="content3_receipt1_profile_name">{{post.5.user_no.nickname}}</p>
                </div>
                <!-- 존재하지 않을 때 -->
                {% else%}
                <div class="content3_receipt1_text1"></div>
                <div class="content3_receipt1_text2"></div>
                <div class="content3_receipt1_text3"></div>
                <hr class="content3_receipt1_line">
                <div class="content3_receipt1_profile"></div>
                {%endif%}
            </div>

            <!-- 영수증 3줄 -->

            <!-- '더보기' 버튼을 누르면 숨겨졌던 영수증 3개가 보이는 div -->
            <div class="content3_hide">

                <!-- 7번째 영수증 -->
                <div class="content3_receipt7">
                    <!-- 검색 결과 7번째 영수증이 존재할 때 -->
                    {% if post.6 != None %}
                    <a class="a_title" href="{% url 'board_detail' post.6.board_no%}"><div class="content3_receipt1_text1">{{post.6.title}}</div></a>
                    <div class="content3_receipt1_text2">
                        {% for t in post.6.tags.all %}
                        #{{t.tagname}}
                        {% endfor %}
                    </div>
                    <div class="content3_receipt1_text3">{{post.6.date|date:'Y.m.d'}}</div>
                    <hr class="content3_receipt1_line">
                    <div class="content3_receipt1_profile">
                        <img class="rounded-circle" src="{{ post.6.user_no.my_image }}" width="30px" height="30px">
                        <p class="content3_receipt1_profile_name">{{post.6.user_no.nickname}}</p>
                    </div>
                    {% else%}
                    <div class="content3_receipt1_text1"></div>
                    <div class="content3_receipt1_text2"></div>
                    <div class="content3_receipt1_text3"></div>
                    <hr class="content3_receipt1_line">
                    <div class="content3_receipt1_profile"></div>
                    {%endif%}
                </div>

                <!-- 8번째 영수증 -->
                <div class="content3_receipt8">
                    <!-- 검색 결과 8번째 영수증이 존재할 때 -->
                    {% if post.7 != None %}
                    <a class="a_title" href="{% url 'board_detail' post.7.board_no%}"><div class="content3_receipt1_text1">{{post.7.title}}</div></a>
                    <div class="content3_receipt1_text2">
                        {% for t in post.7.tags.all %}
                        #{{t.tagname}}
                        {% endfor %}
                    </div>
                    <div class="content3_receipt1_text3">{{post.7.date|date:'Y.m.d'}}</div>
                    <hr class="content3_receipt1_line">
                    <div class="content3_receipt1_profile">
                        <img class="rounded-circle" src="{{ post.7.user_no.my_image }}" width="30px" height="30px">
                        <p class="content3_receipt1_profile_name">{{post.7.user_no.nickname}}</p>
                    </div>
                    <!-- 존재하지 않을 때 -->
                    {% else%}
                    <div class="content3_receipt1_text1"></div>
                    <div class="content3_receipt1_text2"></div>
                    <div class="content3_receipt1_text3"></div>
                    <hr class="content3_receipt1_line">
                    <div class="content3_receipt1_profile"></div>
                    {%endif%}
                </div>

                <!-- 9번째 영수증 -->
                <div class="content3_receipt9">
                    <!-- 검색 결과 9번째 영수증이 존재할 때 -->
                    {% if post.8 != None %}
                    <a class="a_title" href="{% url 'board_detail' post.8.board_no%}"><div class="content3_receipt1_text1">{{post.8.title}}</div></a>
                    <div class="content3_receipt1_text2">
                        {% for t in post.8.tags.all %}
                        #{{t.tagname}}
                        {% endfor %}
                    </div>
                    <div class="content3_receipt1_text3">{{post.8.date|date:'Y.m.d'}}</div>
                    <hr class="content3_receipt1_line">
                    <div class="content3_receipt1_profile">
                        <img class="rounded-circle" src="{{ post.8.user_no.my_image }}" width="30px" height="30px">
                        <p class="content3_receipt1_profile_name">{{post.8.user_no.nickname}}</p>
                    </div>
                    {% else%}
                    <div class="content3_receipt1_text1"></div>
                    <div class="content3_receipt1_text2"></div>
                    <div class="content3_receipt1_text3"></div>
                    <hr class="content3_receipt1_line">
                    <div class="content3_receipt1_profile"></div>
                    {%endif%}
                </div>

            <!-- content3_hide div를 닫는 태그 -->
            </div>

            <input type="button" class="content3_receipt_btn" value="더보기">

        <!-- 영수증 모아놓은 div 닫는 태그 -->
        </div>
        {% endif %}

    <!-- content3 닫는 태그-->
    </div>

    </body>
    </html>
        

        

<script>
    document.getElementsByClassName('content3_receipt_btn')[0].addEventListener('click', function(){
    document.getElementsByClassName('content3_hide')[0].classList.toggle('show');
  });
</script>















</body>
</html>