{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/receipt_01.css' %}">
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap" rel="stylesheet">
</head>

<body>
    <nav id="topMenu">
        <ul>
            <li><a class="menuLink" href="#">LOGO</a></li>
            <li><a class="menuLink" href="#">홈</a></li>
            <li><a class="menuLink" href="#">영수증글</a></li>
            <li><a class="menuLink" href="#">영수증파티</a></li>
            <li><a class="menuLink" href="#">MY영수증</a></li>
            <li><input type="button" value="로그인" class="menuButton">
        </ul>
    </nav>

    <div class="content1"></div>

    <!-- 인기 영수증 -->
    <div class="content2">
        <div class="content2_text">인기영수증</div>
        <div class="content2_receipt1">
            <div class="content2_receipt1_text1">오늘 장 봤는데 영수증 평가해주세요!</div>
            <div class="content2_receipt1_text2">#하루영수증 #장보기</div>
            <div class="content2_receipt1_text3">2022.08.02</div>
            <hr class="content2_receipt1_line">
            <div class="content2_receipt1_profile">
                <img src="{% static 'img/img1.jpg' %}">
                <p class="content2_receipt1_profile_name">김멋사</p>
            </div>
        </div>
        <div class="content2_receipt2">
            <div class="content2_receipt1_text1">오늘 장 봤는데 영수증 평가해주세요!</div>
            <div class="content2_receipt1_text2">#하루영수증 #장보기</div>
            <div class="content2_receipt1_text3">2022.08.02</div>
            <hr class="content2_receipt1_line">
            <div class="content2_receipt1_profile">
                <img src="{% static 'img/img1.jpg' %}">
                <p class="content2_receipt1_profile_name">김멋사</p>
            </div>
        </div>
        <div class="content2_receipt3">
            <div class="content2_receipt1_text1">오늘 장 봤는데 영수증 평가해주세요!</div>
            <div class="content2_receipt1_text2">#하루영수증 #장보기</div>
            <div class="content2_receipt1_text3">2022.08.02</div>
            <hr class="content2_receipt1_line">
            <div class="content2_receipt1_profile">
                <img src="{% static 'img/img1.jpg' %}">
                <p class="content2_receipt1_profile_name">김멋사</p>
            </div>
        </div>
        <div class="content2_receipt4">
            <div class="content2_receipt1_text1">오늘 장 봤는데 영수증 평가해주세요!</div>
            <div class="content2_receipt1_text2">#하루영수증 #장보기</div>
            <div class="content2_receipt1_text3">2022.08.02</div>
            <hr class="content2_receipt1_line">
            <div class="content2_receipt1_profile">
                <img src="{% static 'img/img1.jpg' %}">
                <p class="content2_receipt1_profile_name">김멋사</p>
            </div>
        </div>
    </div>

    <div class="content3">
        <div class="content3_top">
            <p class="content3_text">영수증 글</p>
            <a href="{% url 'board_write' %}">
            <input type="button" value="영수증 작성+" class="content3_btn">
            </a>
        </div>

        <br>
        <hr style="background-color:F2F2F2; height:2px;border:none;">

        <div class="content3_icon">
            <div input type="button" class="content3_icon1">#하루영수증</div>
            <div input type="button" class="content3_icon2">#일주일영수증</div>
            <div input type="button" class="content3_icon3">#장보기영수증</div>
            <div input type="button" class="content3_icon4">#한달영수증</div>
            <div input type="button" class="content3_icon5">#생활비</div>
        </div>

        <!-- 영수증 1줄 -->
        <div class="content3_receipt">
            <div class="content3_receipt1">
            <div class="content3_receipt1_text1">{{board.0.title}}</div>
            <div class="content3_receipt1_text2">
                </div>
                <!-- {% for list in board %}
                {{list.0.title}}
                {% endfor %}</div> -->
            <div class="content3_receipt1_text3">{{board.0.date|date:'Y.m.d'}}</div>
            <hr class="content3_receipt1_line">
            <div class="content3_receipt1_profile">
                <img src="{{ board.0.user_no.my_image }}" width="30px" height="30px">
                <p class="content3_receipt1_profile_name">{{board.0.user_no.nickname}}</p>
            </div>
            </div>
            <div class="content3_receipt2">
            <div class="content3_receipt1_text1">{{board.1.title}}</div>
            <div class="content3_receipt1_text2">#하루영수증 #장보기</div>
            <div class="content3_receipt1_text3">{{board.1.date|date:'Y.m.d'}}</div>
            <hr class="content3_receipt1_line">
            <div class="content3_receipt1_profile">
                <img src="{{ board.1.user_no.my_image }}" width="30px" height="30px">
                <p class="content3_receipt1_profile_name">{{board.1.user_no.nickname}}</p>
            </div>
            </div>
            <div class="content3_receipt3">
            <div class="content3_receipt1_text1">{{board.2.title}}</div>
            <div class="content3_receipt1_text2">#하루영수증 #장보기</div>
            <div class="content3_receipt1_text3">{{board.2.date|date:'Y.m.d'}}</div>
            <hr class="content3_receipt1_line">
            <div class="content3_receipt1_profile">
                <img src="{{ board.2.user_no.my_image }}" width="30px" height="30px">
                <p class="content3_receipt1_profile_name">{{board.2.user_no.nickname}}</p>
            </div>
            </div>

            <!-- 영수증 2줄 -->
            <div class="content3_receipt4">
                <div class="content3_receipt1_text1">{{board.3.title}}</div>
            <div class="content3_receipt1_text2">#하루영수증 #장보기</div>
            <div class="content3_receipt1_text3">{{board.3.date|date:'Y.m.d'}}</div>
            <hr class="content3_receipt1_line">
            <div class="content3_receipt1_profile">
                <img src="{{ board.3.user_no.my_image }}" width="30px" height="30px">
                <p class="content3_receipt1_profile_name">{{board.3.user_no.nickname}}</p>
            </div>
            </div>

            
            <div class="content3_receipt5">
                <div class="content3_receipt1_text1">{{board.4.title}}</div>
            <div class="content3_receipt1_text2">#하루영수증 #장보기</div>
            <div class="content3_receipt1_text3">{{board.4.date|date:'Y.m.d'}}</div>
            <hr class="content3_receipt1_line">
            <div class="content3_receipt1_profile">
                <img src="{{ board.4.user_no.my_image }}" width="30px" height="30px">
                <p class="content3_receipt1_profile_name">{{board.4.user_no.nickname}}</p>
            </div>
            </div>

            <div class="content3_receipt6">
                <div class="content3_receipt1_text1">{{board.5.title}}</div>
            <div class="content3_receipt1_text2">#하루영수증 #장보기</div>
            <div class="content3_receipt1_text3">{{board.5.date|date:'Y.m.d'}}</div>
            <hr class="content3_receipt1_line">
            <div class="content3_receipt1_profile">
            <img src="{{ board.5.user_no.my_image }}" width="30px" height="30px">
            <p class="content3_receipt1_profile_name">{{board.5.user_no.nickname}}</p>
            </div>
            </div>

            <!-- 인기 영수증 3줄 -->
            <div class="content3_hide">
            <div class="content3_receipt7">
            <div class="content3_receipt1_text1">{{board.6.title}}</div>
            <div class="content3_receipt1_text2">#하루영수증 #장보기</div>
            <div class="content3_receipt1_text3">{{board.6.date|date:'Y.m.d'}}</div>
            <hr class="content3_receipt1_line">
            <div class="content3_receipt1_profile">
            <img src="{{ board.6.user_no.my_image }}" width="30px" height="30px">
            <p class="content3_receipt1_profile_name">{{board.6.user_no.nickname}}</p>
            </div>
            </div>

            <div class="content3_receipt8">
                <div class="content3_receipt1_text1">{{board.7.title}}</div>
            <div class="content3_receipt1_text2">#하루영수증 #장보기</div>
            <div class="content3_receipt1_text3">{{board.7.date|date:'Y.m.d'}}</div>
            <hr class="content3_receipt1_line">
            <div class="content3_receipt1_profile">
            <img src="{{ board.7.user_no.my_image }}" width="30px" height="30px">
            <p class="content3_receipt1_profile_name">{{board.7.user_no.nickname}}</p>
            </div>
            </div>

            
            <div class="content3_receipt9">
            <div class="content3_receipt1_text1">{{board.8.title}}</div>
            <div class="content3_receipt1_text2">#하루영수증 #장보기</div>
            <div class="content3_receipt1_text3">{{board.8.date|date:'Y.m.d'}}</div>
            <hr class="content3_receipt1_line">
            <div class="content3_receipt1_profile">
            <img src="{{ board.8.user_no.my_image }}" width="30px" height="30px">
            <p class="content3_receipt1_profile_name">{{board.8.user_no.nickname}}</p>
            </div>
            </div>
        </div>

            <input type="button" class="content3_receipt_btn" value="더보기">
        </div>
    </div>

<script>
    document.getElementsByClassName('content3_receipt_btn')[0].addEventListener('click', function(){
    document.getElementsByClassName('content3_hide')[0].classList.toggle('show');
  });
</script>















</body>
</html>