{% load static %}
{% load humanize %}
<html>
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/writeDetail_01.css' %}" rel="stylesheet"></a>
    <title>영수증 글 상세</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $.ajaxSetup({
          headers: { "X-CSRFToken": '{{csrf_token}}' }
        });
      </script>
</head>

<body>
    <nav id="topMenu">
        <ul>
            <li><a class="menuLink" href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}"></a></li>
            <li><a class="menuLink" href="{% url 'home' %}">홈</a></li>
            <li><a class="menuLink" href="{% url 'board_main' %}">영수증글</a></li>
            <li><a class="menuLink" href="{% url 'party_main' %}">영수증파티</a></li>
            <li><a class="menuLink" href="{% url 'mypage' %}">MY영수증</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}"><input type="button" value="로그아웃" class="menuButton"></a>
            {% else %}
            <li><a href="{% url 'login' %}"><input type="button" value="로그인" class="menuButton"></a>
            {% endif %}
        </ul>
    </nav>
    <div class="wrap">
    

    <div class="content">
        
        <div class="content_text">영수증글</div>
        <div class="title_area">
            <div class="title_name">{{board_detail.title}}</div>
            <div class="writer">
                <div id = "writer_profile"><img class="rounded-circle" src="{{ board_detail.user_no.my_image }}" width="55px" height="55px"></div> 
                <div id="writer_name">{{board_detail.user_no.nickname}}</div>
                <div id="grade">{{board_detail.user_no.grade}}
                    <!-- <img src="{% static 'img/grade.png'%}"> -->
                </div>
                
            </div>
            <div class="hashtag_area">
                {% for t in board_detail.tags.all %}
                <span id="hashtag">#{{t.tagname}}</span>
                {% endfor %}
        </div>
            <div class="dateAndcomments">
            <span id="write_date">{{board_detail.date|date:'Y.m.d'}}</span>
            <span id="title_comments">댓글</span>
            <span id="title_comments_num">{{comment_list.all.count}}</span>
        </div>
        </div>

    <div class="receipt">
        
        <div class="receipt_name">지출영수증</div>
        <table id='receipt-table'>
            <tr>
                <th>일시</th>
                <th>지출</th>
                <th>사용처</th>
                <th>내용</th>
            </tr>
            <tbody>
                {% for receipt in receipt.all %}
                <tr id="no">
                    <td width = "135px">{{receipt.use_date}}</td>
                    <td width = "134px">{{receipt.cost|intcomma}}원</td>
                    <td width = "134px">{{receipt.place}}</td>
                    <td width="348px" class="buy_reason">{{receipt.body}}</td>
                </tr>
                {% endfor %}
                </tbody>
            
          </table>
          
          <!-- <div class="use_period">
            <div id="use_period_title">사용기간</div>
            <div id="use_date_text">7일</div>
            <input type="text" id="use_date">
          </div> -->
          <div class="use_price">
            <div id="use_price_title">총 금액</div>
            <div id="use_price_text">{{sum|intcomma}}원</div>
            
          </div>
        <div class="textfield">
            {{board_detail.body}}
        </div>
       
        
        <!-- 좋은 소비예요 / 나쁜 소비예요 버튼 구현-->
        <div class="good_bad">
            <button id="good" class="good" name="{{board_detail.board_no}}">
                <img src="{% static 'img/good.png'%}">좋은 소비예요 
                <span id="good-count-{{board_detail.board_no}}">{{board_detail.good_user.all.count}}</span></button>
            <button id="bad" class="bad" name="{{board_detail.board_no}}">
                <img src="{% static 'img/bad.png'%}">나쁜 소비예요 
                <span id="bad-count-{{board_detail.board_no}}">{{board_detail.bad_user.all.count}}</span></button>

        </div>


   
    </div>

<!-- Bootstrap 댓글기능 -->

<div class="comment_title_text">댓글 <span id="commnets_num">{{comment_list.all.count}}</span></div>
    <section class="comment_section">
        
            <div class="card-body">
                <!-- Comment form-->
                <section class="textarea_and_btn">
                    <form method="post" action="{% url 'new_comment' board_detail.board_no%}"> <!-- 오류나면 확인 -->
                        {% csrf_token %}
                        <table>
                            <tr>
                                <td>
                                    <textarea id="comment_textarea" name="newcomment_body" type="text" placeholder="영수증에 대한 의견을 자유롭게 댓글로 남겨주세요."></textarea>
                                </td>
                                <td>
                                    <input class="comment_btn" value="입력" type="submit">
                                </td>
                            </tr>
                        </table>
                    </form>
                    <!--<button class="comment_btn">입력</button> -->
                </section>
                <ul class="comment_list">
                    {% for comment in comment_list%}
                    <li>
                        <div class="d-flex">
                            <div class="comment_profile"><img class="rounded-circle" src="{{comment.user_no.my_image}}" alt="..." width="50px" height="50px" /></div>
                            
                            <div class="comment_area">
                                <span class="commentsName">{{comment.user_no.nickname}} &nbsp;</span>
                                <span style="font-size:smaller; font-weight: 300 !important;">
                                    {{comment.date |date:'Y.m.d H:i:s'}}</span>
                                <div class="commentsContent">{{comment.body}} </div>                      
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                


<!-- -------- -->

                
        
    </section>


<!-- Bootstrap 댓글 코드 문제 생길 시 아래 코드로 대체 -->
    <!-- <div class="comments">댓글 <span id="commnets_num">12</span></div>

    <textarea class="comments_textarea" placeholder="영수증에 대한 의견을 자유롭게 댓글로 남겨주세요."></textarea>
    <div class="comments_user_container">
        <div id="comments_user_profile">
            <img src="./images/comment_user_profile.png">
        </div>
        <div id="comments_user_name">USER NAME</div>
        <div id="comments_user_text">배달 시켜먹지 말고 최대한 집에서 해드세요</div>
    </div> -->

    <div class="final_btn">
        <a href="{% url 'board_main'%}"><button id="goList_btn">목록</button></a>
       
        </div>
</div>
</div>

<footer>
    <div class="page_footer">
        <img src="{% static 'img/footer_logo.png' %}" class="footer_img">
        <p class="footer_text">이용약관 | 개인정보처리방침 | 고객센터 | 문의하기</p>
        <p class="footer_email">이메일: receiptree@gmail.com 연락처: 02-970-1234</p>
    </div>
</footer>



    

<script src="{% static 'js/writeDetail_02-1_02.js' %}"> </script>

<script type="text/javascript">

//좋은 소비예요 버튼 구현
$(".good").click(function() {
  var pk = $(this).attr('name')
  $.ajax(
    {
      type:"POST",
      url: "{% url 'board_good' %}",
      data: {'pk':pk},
      dataType: "json",
      success: function(response){
        $('#good-count-'+pk).html(response.good_count);
      },
      error: function(request, status, error){
        alert("좋은 소비예요 버튼 오류")
      }
    }
  );
})

//나쁜 소비예요 버튼 구현
$(".bad").click(function() {
  var pk = $(this).attr('name')
  $.ajax(
    {
      type:"POST",
      url: "{% url 'board_bad' %}",
      data: {'pk':pk},
      dataType: "json",
      success: function(response){
        $('#bad-count-'+pk).html(response.bad_count);
      },
      error: function(request, status, error){
        alert("나쁜 소비예요 버튼 오류")
      }
    }
  );
})

</script>






</body>
</html>