#topMenu{
    width:1120px;
    height:95px;
    margin:auto;
}

#topMenu ul li {                     
    list-style: none;                  
    float: left;               
    line-height: 89px;          
    vertical-align: middle;     
}

#topMenu .menuLink {                          
    text-decoration:none;     
    color:black;
    display: block;                            
    font-size: 20px; 
    width: 170px;
    text-align: center;   
    font-family: 'Noto Sans KR', sans-serif;                     
}

.menuButton{
    width:105px;
    height:28px;
    background-color: 1824BF;
    color:white;
    border: none;
    border-radius: 27px;
    margin-left:20px;
}

.full{
    height:1000px;
}

.content1{
    width:545px;
    height:596px;
    margin:Auto;
}

.content1_title{
    width:200px;
    height:36px;
    font-size: 25px; 
    padding-top:100px;
    margin-left:185px;
    font-family: 'Noto Sans KR', sans-serif;  
}

.content1_img{
    width:470px;
    height:309px;
    margin:auto;
    margin-top:50px;
    background-color: D9D9D9;
}

.content1_detail{
    width:400px;
    height:29px;
    color:A3A3A3;
    font-size: 16px; 
    font-family: 'Noto Sans KR', sans-serif;  
    margin-left:170px;
    margin-top:30px;

}

.content1_btn{
    width:300px;
    height:60px;
    border-radius: 16px;
    background-color: 1824BF;
    color:white;
    border:none;
    font-size: 16px; 
    font-family: 'Noto Sans KR', sans-serif;
    margin-top:50px;
    margin-left:120px;

}