{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/home_04_01.css' %}" rel="stylesheet"></a>
    <title>홈화면</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="wrap">
    <nav id="topMenu">
        <ul>
            <li><a class="menuLink" href="{% url 'home' %}">LOGO</a></li>
            <li><a class="menuLink" href="{% url 'home' %}">홈</a></li>
            <li><a class="menuLink" href="{% url 'board_main' %}">영수증글</a></li>
            <li><a class="menuLink" href="{% url 'party_main' %}">영수증파티</a></li>
            <li><a class="menuLink" href="{% url 'mypage' %}">MY영수증</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}"><input type="button" value="로그아웃" class="menuButton"></a>
            {% else %}
            <li><a href="{% url 'login' %}"><input type="button" value="로그인" class="menuButton"></a>
            {% endif %}
        </ul>
    </nav>

    <div class="mainBanner">
        <p class="banner_text1">올바른 소비습관을 위한 <br>
            똑똑한 참견</p>
        <h1 class="banner_text2"> RECIEPTREE 영수증 평가</h1>
        <button id="goto_receipt">영수증 글 보러가기</button>

    </div>

    <div class="content">

<!-- 인기영수증         -->
         <div class="content1">
        <div class="content1_text">인기영수증<a href="{% url 'board_main' %}" class="more_btn1">더보기</a></div>

        <!-- 1위 영수증 -->
        <div class="content1_receipt1">
            {% if hot.0 != None %}
            <a class="a_title" href="{% url 'board_detail' hot.0.board_no %}">
            <div class="content1_text1">{{hot.0.title}}</div></a>
            <div class="content1_text2">
                {% for t in hot.0.tags.all %}
                #{{t.tagname}}
                {% endfor %}
            </div>
            <div class="content1_text3">{{hot.0.date|date:'Y.m.d'}}</div>
            <hr class="content1_line">
            <div class="content1_profile">
                <div class="content1_profile_img">
                    <img class="rounded-circle" src="{{ hot.0.user_no.my_image }}" width="30px" height="30px">
                </div>
                <p class="content1_profile_name">{{hot.0.user_no.nickname}}</p>
            </div>
            {% endif %}
        </div>

        <!-- 2위 영수증 -->
        <div class="content1_receipt2">
            {% if hot.1 != None %}
            <a class="a_title" href="{% url 'board_detail' hot.1.board_no%}">
                <div class="content1_text1">{{hot.1.title}}</div></a>
            <div class="content1_text2">
                {% for t in hot.1.tags.all %}
                #{{t.tagname}}
                {% endfor %}
            </div>
            <div class="content1_text3">{{hot.1.date|date:'Y.m.d'}}</div>
            <hr class="content1_line">
            <div class="content1_profile">
                <div class="content1_profile_img">
                    <img class="rounded-circle" src="{{ hot.1.user_no.my_image }}" width="30px" height="30px">
                </div>
                <p class="content1_profile_name">{{hot.1.user_no.nickname}}</p>
            </div>
            {% endif %}
        </div>

        <!-- 3위 영수증 -->
        <div class="content1_receipt3">
            {% if hot.2 != None %}
            <a class="a_title" href="{% url 'board_detail' hot.2.board_no %}">
                <div class="content1_text1">{{hot.2.title}}</div></a>
            <div class="content1_text2">
                {% for t in hot.0.tags.all %}
                #{{t.tagname}}
                {% endfor %}
            </div>
            <div class="content1_text3">{{hot.2.date|date:'Y.m.d'}}</div>
            <hr class="content1_line">
            <div class="content1_profile">
                <div class="content1_profile_img">
                    <img class="rounded-circle" src="{{ hot.2.user_no.my_image }}" width="30px" height="30px">
                </div>
                <p class="content1_profile_name">{{hot.2.user_no.nickname}}</p>
            </div>
            {% endif %}
        </div>

        <!-- 4위 영수증 -->
        <div class="content1_receipt4">
            {% if hot.3 != None %}
            <a class="a_title" href="{% url 'board_detail' hot.3.board_no%}">
                <div class="content1_text1">{{hot.3.title}}</div></a>
            <div class="content1_text2">
                {% for t in hot.3.tags.all %}
                #{{t.tagname}}
                {% endfor %}
            </div>
            <div class="content1_text3">{{hot.3.date|date:'Y.m.d'}}</div>
            <hr class="content1_line">
            <div class="content1_profile">
                <div class="content1_profile_img">
                    <img class="rounded-circle" src="{{ hot.3.user_no.my_image }}" width="30px" height="30px">
                </div>
                <p class="content1_profile_name">{{hot.3.user_no.nickname}}</p>
            </div>
            {% endif %}
        </div>
    </div>





    <!-- 명예의 전당 -->
    <div class="content2">
        <div class="content2_text">명예의 영수증 전당</div>
        <div class="content2_explain">이번주 가장 스마트한 소비를 한 영수증러는?</div>
        <ul class="content2_userGroup">

            <!-- 1위 -->
            <li> 
                {% if weekly.0 != None %}
                <div class="user_photo">
                    <img class="weekly_img" src="{{ weekly.0.user_no.my_image}}">
                </div>
                <div class="user_name">{{weekly.0.user_no.nickname}}</div>
                {% else %}
                <div class="user_photo"></div>
                <div class="user_name"></div>
                {% endif%}
            </li>

             <!-- 2위-->
            <li> 
                {% if weekly.1 != None %}
                <div class="user_photo">
                    <img class="weekly_img" src="{{weekly.1.user_no.my_image}}">
                </div>
                <div class="user_name">{{weekly.1.user_no.nickname}}</div>
                {% else %}
                <div class="user_photo"></div>
                <div class="user_name"></div>
                {% endif%}
            </li>

            <!-- 3위 -->
             <li> 
                {% if weekly.2 != None %}
                <div class="user_photo">
                    <img class="weekly_img" src="{{weekly.2.user_no.my_image}}">
                </div>
                <div class="user_name">{{weekly.2.user_no.nickname}}</div>
                {% else %}
                <div class="user_photo"></div>
                <div class="user_name"></div>
                {% endif%}
             </li>
             <!-- 4위 -->
             <li id="user4"> 
                {% if weekly.3 != None %}
                <div class="user_photo">
                    <img class="weekly_img" src="{{weekly.3.user_no.my_image}}">
                </div>
                <div class="user_name">{{weekly.3.user_no.nickname}}</div>
                {% else %}
                <div class="user_photo"></div>
                <div class="user_name"></div>
                {% endif%}
             </li>

             
             
        </ul>
            
            
        </div>


        <!-- 영수증 파티 나열  -->
        <div class="content3">
            <div class="content3_text">영수증 파티<a href="{% url 'party_main' %}" class="more_btn2">더보기</a></div>
        <div class="content3_explain">같이 영수증 공유할 사람 구할 땐, 리십트리 영수증 파티</div>
            
        <!-- 1번째 팀 -->
        <div class="content3_party1">
            {% if team.0 != None %}
                <p class="party1_text1">{{team.0.category}}</p>
                <a class="a_title" href="{% url 'party_detail' team.0.team_no %}">
                    <p class="party1_text2">{{team.0.team_name}}</p></a>
                    {% if team.0.leader_no != None%}
                    <img src="{{ team.0.leader_no.my_image}}" class="party1_img1">
                    {% else%}
                    <img src="{% static 'img/blank.jpg' %}" class="party1_img1">
                    {%endif%}
                    <!-- 2번째 멤버 -->
                    {% if team.0.team_users.all.0 != None%}
                    <img src="{{ team.0.team_users.all.0.my_image}}" class="party1_img2">
                    {% else%}
                    <img src="{% static 'img/blank.jpg' %}" class="party1_img2">
                    {%endif%}
                    <!-- 3번째 멤버 -->
                    {% if team.0.team_users.all.1 != None%}
                    <img src="{{ team.0.team_users.all.1.my_image}}" class="party1_img3">
                    {% else%}
                    <img src="{% static 'img/blank.jpg' %}" class="party1_img3">
                    {%endif%}
                    <!--4번째 멤버-->
                    {% if team.0.team_users.all.2 != None%}
                    <img src="{{ team.0.team_users.all.2.my_image}}" class="party1_img4">
                    {% else%}
                    <img src="{% static 'img/blank.jpg' %}" class="party1_img4">
                    {%endif%}
                    <p class="party1_text3">파티원</p>
                    <p class="party1_text4">{{team.0.count_team_users}}/4명</p>
            {% endif %}
        </div>
    
        <!-- 2번째 팀 -->
            <div class="content3_party2">
                {% if team.1 != None %}
                <p class="party1_text1">{{team.1.category}}</p>
                <a class="a_title" href="{% url 'party_detail' team.1.team_no %}">
                    <p class="party1_text2">{{team.1.team_name}}</p></a>
            <!-- 1번째 멤버 -->
            {% if team.1.leader_no != None%}
                <img src="{{ team.1.leader_no.my_image}}" class="party1_img1">
            {% else%}
            <img src="{% static 'img/blank.jpg' %}" class="party1_img1">
            {%endif%}
            <!-- 2번째 멤버 -->
            {% if team.1.team_users.all.0 != None%}
            <img src="{{ team.1.team_users.all.0.my_image}}" class="party1_img2">
            {% else%}
            <img src="{% static 'img/blank.jpg' %}" class="party1_img2">
            {%endif%}
            <!-- 3번째 멤버 -->
            {% if team.1.team_users.all.1 != None%}
            <img src="{{ team.1.team_users.all.1.my_image}}" class="party1_img3">
            {% else%}
            <img src="{% static 'img/blank.jpg' %}" class="party1_img3">
            {%endif%}
            <!--4번째 멤버-->
            {% if team.1.team_users.all.2 != None%}
            <img src="{{ team.1.team_users.all.2.my_image}}" class="party1_img4">
            {% else%}
            <img src="{% static 'img/blank.jpg' %}" class="party1_img4">
            {%endif%}
            <p class="party1_text3">파티원</p>
            <p class="party1_text4">{{team.1.count_team_users}}/4명</p>
                {% endif %}
            </div>
    
            <!-- 3번째 팀 -->
            <div class="content3_party3">
                {% if team.2 != None %}
                <p class="party1_text1">{{team.2.category}}</p>
                <a class="a_title" href="{% url 'party_detail' team.2.team_no %}">
                    <p class="party1_text2">{{team.2.team_name}}</p></a>
            <!-- 1번째 멤버 -->
            {% if team.2.leader_no != None%}
                <img src="{{ team.2.leader_no.my_image}}" class="party1_img1">
            {% else%}
            <img src="{% static 'img/blank.jpg' %}" class="party1_img1">
            {%endif%}
            <!-- 2번째 멤버 -->
            {% if team.2.team_users.all.0 != None%}
            <img src="{{ team.2.team_users.all.0.my_image}}" class="party1_img2">
            {% else%}
            <img src="{% static 'img/blank.jpg' %}" class="party1_img2">
            {%endif%}
            <!-- 3번째 멤버 -->
            {% if team.2.team_users.all.1 != None%}
            <img src="{{ team.2.team_users.all.1.my_image}}" class="party1_img3">
            {% else%}
            <img src="{% static 'img/blank.jpg' %}" class="party1_img3">
            {%endif%}
            <!--4번째 멤버-->
            {% if team.2.team_users.all.2 != None%}
            <img src="{{ team.2.team_users.all.2.my_image}}" class="party1_img4">
            {% else%}
            <img src="{% static 'img/blank.jpg' %}" class="party1_img4">
            {%endif%}
            <p class="party1_text3">파티원</p>
            <p class="party1_text4">{{team.2.count_team_users}}/4명</p>
                {%endif%}
            </div>

            <!-- 4번째 팀 -->
    
            <div class="content3_party4">
                {% if team.3 != None %}
                <p class="party1_text1">{{team.3.category}}</p>
                <a class="a_title" href="{% url 'party_detail' team.3.team_no %}">
                    <p class="party1_text2">{{team.3.team_name}}</p></a>
                
                    <!-- 1번째 멤버 -->
                    {% if team.3.leader_no != None%}
                    <img src="{{ team.3.leader_no.my_image}}" class="party1_img1">
                    {% else%}
                    <img src="{% static 'img/blank.jpg' %}" class="party1_img1">
                    {%endif%}
                    <!-- 2번째 멤버 -->
                    {% if team.3.team_users.all.0 != None%}
                    <img src="{{ team.3.team_users.all.0.my_image}}" class="party1_img2">
                    {% else%}
                    <img src="{% static 'img/blank.jpg' %}" class="party1_img2">
                    {%endif%}
                    <!-- 3번째 멤버 -->
                    {% if team.3.team_users.all.1 != None%}
                    <img src="{{ team.3.team_users.all.1.my_image}}" class="party1_img3">
                    {% else%}
                    <img src="{% static 'img/blank.jpg' %}" class="party1_img3">
                    {%endif%}
                    <!-- 4번째 멤버 -->
                    {% if team.3.team_users.all.2 != None%}
                    <img src="{{ team.3.team_users.all.2.my_image}}" class="party1_img4">
                    {% else%}
                    <img src="{% static 'img/blank.jpg' %}" class="party1_img4">
                    {%endif%}
                    <p class="party1_text3">파티원</p>
                    <p class="party1_text4">{{team.3.count_team_users}}/4명</p>
                    {%endif%}
            </div>
    
            <!-- 5번째 팀 -->
            <div class="content3_party5">
                {% if team.4 != None %}
                <p class="party1_text1">{{team.4.category}}</p>
                <a class="a_title" href="{% url 'party_detail' team.4.team_no %}">
                    <p class="party1_text2">{{team.4.team_name}}</p></a>
                
                    <!-- 1번째 멤버 -->
                    {% if team.4.leader_no != None%}
                    <img src="{{ team.4.leader_no.my_image}}" class="party1_img1">
                    {% else%}
                    <img src="{% static 'img/blank.jpg' %}" class="party1_img1">
                    {%endif%}
                    <!-- 2번째 멤버 -->
                    {% if team.4.team_users.all.0 != None%}
                    <img src="{{ team.4.team_users.all.0.my_image}}" class="party1_img2">
                    {% else%}
                    <img src="{% static 'img/blank.jpg' %}" class="party1_img2">
                    {%endif%}
                    <!-- 3번째 멤버 -->
                    {% if team.4.team_users.all.1 != None%}
                    <img src="{{ team.4.team_users.all.1.my_image}}" class="party1_img3">
                    {% else%}
                    <img src="{% static 'img/blank.jpg' %}" class="party1_img3">
                    {%endif%}
                    <!-- 4번째 멤버 -->
                    {% if team.4.team_users.all.2 != None%}
                    <img src="{{ team.4.team_users.all.2.my_image}}" class="party1_img4">
                    {% else%}
                    <img src="{% static 'img/blank.jpg' %}" class="party1_img4">
                    {%endif%}
                    <p class="party1_text3">파티원</p>
                    <p class="party1_text4">{{team.4.count_team_users}}/4명</p>
                {% endif %}
            </div>
    
            <!-- 6번째 팀 -->
            <div class="content3_party6">
                {% if team.5 != None %}
                <p class="party1_text1">{{team.5.category}}</p>
                <a class="a_title" href="{% url 'party_detail' team.5.team_no %}">
                    <p class="party1_text2">{{team.5.team_name}}</p></a>
                
                    <!-- 1번째 멤버 -->
                    {% if team.5.leader_no != None%}
                    <img src="{{ team.5.leader_no.my_image}}" class="party1_img1">
                    {% else%}
                    <img src="{% static 'img/blank.jpg' %}" class="party1_img1">
                    {%endif%}
                    <!-- 2번째 멤버 -->
                    {% if team.5.team_users.all.0 != None%}
                    <img src="{{ team.5.team_users.all.0.my_image}}" class="party1_img2">
                    {% else%}
                    <img src="{% static 'img/blank.jpg' %}" class="party1_img2">
                    {%endif%}
                    <!-- 3번째 멤버 -->
                    {% if team.5.team_users.all.1 != None%}
                    <img src="{{ team.5.team_users.all.1.my_image}}" class="party1_img3">
                    {% else%}
                    <img src="{% static 'img/blank.jpg' %}" class="party1_img3">
                    {%endif%}
                    <!-- 4번째 멤버 -->
                    {% if team.5.team_users.all.2 != None%}
                    <img src="{{ team.5.team_users.all.2.my_image}}" class="party1_img4">
                    {% else%}
                    <img src="{% static 'img/blank.jpg' %}" class="party1_img4">
                    {%endif%}
                    <p class="party1_text3">파티원</p>
                    <p class="party1_text4">{{team.5.count_team_users}}/4명</p>
                {% endif %}
            </div>
    
            
    
        
    </div>
     
    </div>


    <footer>푸터</footer>


    </div>
    

    



    

<script src="write_02.js"> </script>

<script type="text/javascript">
    

   


    

</script>






</body>
</html>