{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/login_14.css' %}" rel="stylesheet"></a>
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap" rel="stylesheet">
</head>

<body>
    <nav id="topMenu">
        <ul>
            <li><a class="menuLink" href="#">LOGO</a></li>
            <li><a class="menuLink" href="#">홈</a></li>
            <li><a class="menuLink" href="#">영수증글</a></li>
            <li><a class="menuLink" href="#">영수증파티</a></li>
            <li><a class="menuLink" href="#">MY영수증</a></li>
            <li><input type="button" value="로그인" class="menuButton">
        </ul>
    </nav>
    <hr style="background-color:F2F2F2; height:3px;border:none;">

    <div class="full">
        <div class="content1">
            <div class="content1_logo">LOGO</div>
            <input type="text" value="아이디를 입력하세요" class="content1_text1">
            <input type="text" value="비밀번호를 입력하세요" class="content1_text2">
            <input type="button" value="로그인" class="content1_btn">
            <div class="content1_detail">회원가입 | 아이디/비밀번호 찾기</div>

        </div>

    </div>
</body>
</html>