{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/mypage_05.css' %}" rel="stylesheet"></a>
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Sans+KR:wght@300;500&display=swap" rel="stylesheet">
</head>

<body>
    <nav id="topMenu">
        <ul>
            <li><a class="menuLink" href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}"></a></li>
            <li><a class="menuLink" href="{% url 'home' %}">홈</a></li>
            <li><a class="menuLink" href="{% url 'board_main' %}">영수증글</a></li>
            <li><a class="menuLink" href="{% url 'party_main' %}">영수증파티</a></li>
            <li><a class="menuLink" href="{% url 'mypage' %}">MY영수증</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}"><input type="button" value="로그아웃" class="menuButton"></a>
            {% else %}
            <li><a href="{% url 'login' %}"><input type="button" value="로그인" class="menuButton"></a>
            {% endif %}
        </ul>
    </nav>
    <hr style="background-color:F2F2F2; height:3px;border:none;">

    <div class="full">
    <div class="content1">
        <div class="mypage_logo">My Page</div>
        {% if user.is_authenticated %}
        <div class="mypage_content">
            <img class="profile-img" src="{{user.my_image}}">
        </div>
        <div class="mypage_name">{{user.nickname}}</div>
        <a href="{% url 'mypage_change' %}"> <input type="button" value="수정하기" class="mypage_icon"></a>
        <div class="mypage_email">{{user.email}}</div>
        <div class="mypage_text1">글내역 ></div>
        <div class="mypage_text1-2"><a href="{% url 'view_receipt' %}">{{user.written}}개</a></div>
        <div class="mypage_text2">가입파티 ></div>
        <div class="mypage_text2-2"><a href="{% url 'view_party' %}">{{user.party_num}}team</a></div>
        <div class="mypage_text3">등급</div>
        <div class="mypage_text3-2">{{user.grade}}</div>
    </div>

    <div class="content2">
        <div class="info_logo">회원정보</div>

        <div class="content2_name">
        <div class="info_name">이름</div>
        <input type="text" class="info_name_text" value="{{user.nickname}}" readonly/></div>
        <hr class="name_line">
        <div class="content2_email">
        <div class="info_email">이메일 주소</div>
        <input type="text" class="info_email_text" value="{{user.email}}" readonly/></div>
        <hr class="email_line">

        <div class="content2_number">
        <div class="info_number">전화번호</div>
        <input type="text" class="info_number_text" value="{{user.phone_number}}" readonly/></div>
        <hr class="number_line">

        <div class="content2_password">
        <div class="info_password">비밀번호</div>
        <input type="password" class="info_password_text" value="abcefghi" readonly/></div>
        <hr class="password_line">
    </div>

    <div class="content3">
        <div class="detail_logo">상세정보</div>

        <div class="content3_age">
            <div class="detail_age">나이</div>
            <input type="text" class="detail_age_text" value="{{user.age}}" readonly/></div>
            <hr class="age_line">
    
            <div class="content3_job">
            <div class="detail_job">직업</div>
            <input type="text" class="detail_job_text" value="{{user.job}}" readonly/></div>
            <hr class="job_line">
    
            <div class="content3_expense">
            <div class="detail_expense">고정지출</div>
            <input type="text" class="detail_expense_text1" value="{{user.expense}}" readonly/>
            <input type="text" class="detail_expense_text2" value="{{user.expense_body}}" readonly/></div>
            <hr class="expense_line">
    
            <div class="content3_salary">
            <div class="detail_salary">월급</div>
            <input type="text" class="detail_salary_text" value="{{user.income}}" readonly/></div>
            <hr class="salary_line">
    </div>
    
    {% endif %}

    <div class="content4">
        <div class="content4_text1">문의</div>
        <hr class="text1_line">
        <div class="content4_text2">공지사항</div>
        <hr class="text2_line">
        <a href="{% url 'signout' %}"><div class="content4_text3">탈퇴</div></a>
        <hr class="text3_line">
    </div>

    <footer>
        <div class="page_footer">
            <img src="img3-mypage_07.png" class="footer_img">
            <p class="footer_text">이용약관 | 개인정보처리방침 | 고객센터 | 문의하기</p>
            <p class="footer_email">이메일: receiptree@gmail.com 연락처: 02-970-1234</p>
        </div>
    </footer>
</div>