{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/signup_origin.css' %}" rel="stylesheet"></a>
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap" rel="stylesheet">
</head>

<body>
    <nav id="topMenu">
        <ul>
            <li><a class="menuLink" href="{% url 'home' %}">LOGO</a></li>
            <li><a class="menuLink" href="{% url 'home' %}">홈</a></li>
            <li><a class="menuLink" href="{% url 'board_main' %}">영수증글</a></li>
            <li><a class="menuLink" href="{% url 'party_main' %}">영수증파티</a></li>
            <li><a class="menuLink" href="{% url 'mypage' %}">MY영수증</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}"><input type="button" value="로그아웃" class="menuButton"></a>
            {% else %}
            <li><a href="{% url 'login' %}"><input type="button" value="로그인" class="menuButton"></a>
            {% endif %}
        </ul>
    </nav>
     <hr style="background-color:F2F2F2; height:3px;border:none;">

    <div class="full">
    <div class="content1"></div>
    <form  method="POST">
        {% csrf_token %}
        
        <div class="content2">
            <div class="main_title">필수정보 입력</div>
            <div class="email_title">이메일</div>
            <input type="text" class="email_box" placeholder="이메일" name="email">
            <div class="password_title">비밀번호</div>
            <input type="password" class="password_box" placeholder="영문, 숫자 포함 8자리 이상" name="password1">
            <div class="password_title2">비밀번호</div>
            <input type="password" class="password_box2" placeholder="비밀번호 확인" name="password2">
            <div class="name_title">이름</div>
            <input type="text" class="name_box" placeholder="이름" name="nickname">
            <div class="phonenumber_title">전화번호</div>
            <input type="text" class="phonenumber_box" placeholder="전화번호를 입력해주세요(‘-’ 제외)" name="phone">
        </div>

        <div class="content3">
            <div class="main_title">선택정보 입력</div>
            <div class="sub_title">더 객관적인 소비 판단을 위해 세부 정보를 입력해주세요.</div>
            <div class="sub_title">선택 정보 입력시, 모든 칸을 채워주시기 바랍니다.</div>

            <div class="age">
                <div class="age_title">나이</div>
                <input type="text" class="age_box" placeholder="나이 입력(숫자만)" name="age">
                <div class="age_detail">세</div>
            </div>

            <div class="income">
                <div class="income_title">수입</div>
                <input type="text" class="income_box" placeholder="월 수입 입력(만원 단위)" name="income">
                <div class="income_detail">만원</div> 
            </div>

            <div class="job_title">직업</div>
            <input type="text" class="job_box" placeholder="직업을 입력해주세요." name="job">

            <div class="expenditure_title">고정지출</div>
            <input type="text" class="expenditure_box1" placeholder="지출 내용" name="expense_body">
            <input type="text" class="expenditure_box2" placeholder="지출 금액" name="expense">
            <div class="expenditure_detail">원</div>

            {% comment %} <input type="button" class="expenditure_btn" value="+ 지출추가"> {% endcomment %}
        </div>

        <input type="submit" value="가입완료" class="submit_btn">
    </form>

    <footer>
        <div class="page_footer">
            <img src="img3-mypage_07.png" class="footer_img">
            <p class="footer_text">이용약관 | 개인정보처리방침 | 고객센터 | 문의하기</p>
            <p class="footer_email">이메일: receiptree@gmail.com 연락처: 02-970-1234</p>
        </div>
    </footer>
</div>
