#topMenu{
    width:1120px;
    height:95px;
    margin:auto;
}

#topMenu ul li {                     
    list-style: none;                  
    float: left;               
    line-height: 89px;          
    vertical-align: middle;     
}

#topMenu .menuLink {                          
    text-decoration:none;     
    color:black;
    display: block;                            
    font-size: 20px; 
    width: 170px;
    text-align: center;   
    font-family: 'Noto Sans KR', sans-serif;                     
}

.menuButton{
    width:105px;
    height:28px;
    background-color: 1824BF;
    color:white;
    border: none;
    border-radius: 27px;
    margin-left:20px;
}

.full{
    background-color: #F8F9FD;
}

.content{
    width:700px;
    height:900px;
    margin:auto;
}

.main_title{
    font-family: 'Noto Sans KR', sans-serif;   
    font-size:30px;
    font-weight: bold;
    padding-top:80px;
}

.sub_title{
    font-family: 'Noto Sans KR', sans-serif;   
    font-size:20px;
    margin-top:40px;
}

.text_box{
    width:600px;
    height:62px;
    border-radius: 16px;
    color:C4C4C4;
    margin-top:15px;
    font-family: 'Noto Sans KR', sans-serif;   
    font-size:20px;
}

.sub_title2{
    font-family: 'Noto Sans KR', sans-serif;   
    font-size:20px;
    margin-top:40px;
}

.number_box{
    width:250px;
    height:100px;
    border-color:ECECEC;
}

.circle1{
    width:41px;
    height:41px;
    border-radius: 50%;
    background-color: C4C4C4;
    color:white;
    font-family: 'Noto Sans KR', sans-serif; 
    font-size:30px;
    margin-top:30px;
    border:none;
}

#result{
    width:30px;
    height:29px;
    font-family: 'Noto Sans KR', sans-serif; 
    font-size:20px;
    margin-top:-36px;
    margin-left:70px;

}

.circle2{
    width:41px;
    height:41px;
    border-radius: 50%;
    background-color: 1824BF;
    color:white;
    font-family: 'Noto Sans KR', sans-serif; 
    font-size:30px;  
    margin-top:-34px;
    margin-left:120px;
    border:none;
}

.sub_title3{
    font-family: 'Noto Sans KR', sans-serif;   
    font-size:20px;
    margin-top:40px; 
}

.category_btn1{
    width:153px;
    height:47px;
    font-family: 'Noto Sans KR', sans-serif;   
    font-size:20px;
    color:1824BF;
    border-color:1824BF;
    background-color: white;
    border-radius: 27px;
    margin-top:30px;
}

.category_btn1:focus{
    background-color: 1824BF;
    color:white;
}

.category_btn2:focus{
    background-color: 1824BF;
    color:white;
}

.category_btn2{
    width:153px;
    height:47px;
    font-family: 'Noto Sans KR', sans-serif;   
    font-size:20px;
    color:1824BF;
    border-color:1824BF;
    background-color: white;
    border-radius: 27px;
}

.sub_title4{
    font-family: 'Noto Sans KR', sans-serif;   
    font-size:20px;
    margin-top:40px; 
}

.text_box2{
    width:600px;
    height:200px;
    margin-top:40px;
    border-radius: 16px;
    font-size:20px;
    font-family: 'Noto Sans KR', sans-serif;  
    color:C4C4C4;
    border-color:A3A3A3;
}

.cancel_btn{
    width:273px;
    height:80px;
    background-color:C4C4C4;
    color:white;
    border:none;
    font-family: 'Noto Sans KR', sans-serif; 
    font-size:24px;
    border-radius: 7px;
    margin-left:620px;
    margin-top:70px;
}

.submit_btn{
    width:273px;
    height:80px;
    background-color:1824BF;
    color:white;
    border:none;
    font-family: 'Noto Sans KR', sans-serif; 
    font-size:24px;
    border-radius: 7px;
}