#topMenu{
    width:1120px;
    height:95px;
    margin:auto;
}

#topMenu ul li {                     
    list-style: none;                  
    float: left;               
    line-height: 89px;          
    vertical-align: middle;     
}

#topMenu .menuLink {                          
    text-decoration:none;     
    color:black;
    display: block;                            
    font-size: 20px; 
    width: 170px;
    text-align: center;   
    font-family: 'Noto Sans KR', sans-serif;                     
}

.menuButton{
    width:105px;
    height:28px;
    background-color: 1824BF;
    color:white;
    border: none;
    border-radius: 27px;
    margin-left:20px;
}

.content1{
    width:1440px;
    height:177px;
    background-color: DDE0FB;
    margin:auto;
}

.content2{
    width:1120px;
    height:500px;
    margin:auto;
}

.content2_text{
    width:140px;
    height:38px;
    font-size:26px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    padding-top:50px;
}

.content2_receipt1{
    width:262px;
    height:296px;
    margin-top:50px;
    border-radius:27px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content2_receipt1_text1{
    width:210px;
    height:64px;
    font-size:22px;
    margin-left:20px;
    padding-top:40px;
    font-family: 'Noto Sans KR', sans-serif;
}

.content2_receipt1_text2{
    width:197px;
    height:26px;
    color:B5B5B5;
    margin-left:20px;
    margin-top:10px;
}

.content2_receipt1_text3{
    width:203px;
    height:32px;
    margin-top:40px;
    margin-left:20px;
    font-size:22px;

}

.content2_receipt1_line{
    width:230px;
    color:EBEBEB;
}

.content2_receipt1_profile{
    margin-left:20px;
    margin-top:10px;
}

.content2_receipt1_profile_name{
    margin-top:-27px;
    margin-left:45px;
    font-size:16px;
}

.content2_receipt2{
    width:262px;
    height:296px;
    margin-top:-296px;
    margin-left:286px;
    border-radius:27px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content2_receipt3{
    width:262px;
    height:296px;
    margin-left:572px;
    margin-top:-296px;
    border-radius:27px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content2_receipt4{
    width:262px;
    height:296px;
    margin-left:858px;
    margin-top:-296px;
    border-radius:27px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content3{
    width:1120px;
    height:1700px;
    margin:auto;
}

.content3_top{
    width:1119px;
    height:47px;
    margin:auto;
    background-color: white;
}

.content3_text{
    width:105px;
    height:38px;
    font-size:26px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
}

.content3_btn{
    width:150px;
    height:47px;
    margin-top:-65px;
    margin-left:950px;
    border-radius:27px;
    color:1824BF;
    border-color:1824BF;
    background-color: white;
    font-size:20px;
    font-family: 'Noto Sans KR', sans-serif;
}

.search{
    width:1120px;
    height:50px;
    margin:auto;
}

.search_icon{
    width:300px;
    height:50px;
    margin-left:0px;
    border-radius:27px;
    font-size:16px;
    font-family: 'Noto Sans KR', sans-serif;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color:9E9E9E;
    border-color:1824BF;
    background-color: white;
}

.content3_icon{
    width:900px;
    height:54px;
}

.content3_icon1{
    width:151px;
    height:40px;
    border-radius: 27px;
    color:9E9E9E;
    border:none;
    background-color: F2F2F2;
    font-size:20px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    margin-top:30px;
}

.content3_icon2{
    width:151px;
    height:40px;
    border-radius: 27px;
    color:9E9E9E;
    border:none;
    background-color: F2F2F2;
    font-size:20px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    margin-top:-40px;
    margin-left:161px;
}

.content3_icon3{
    width:151px;
    height:40px;
    border-radius: 27px;
    color:9E9E9E;
    border:none;
    background-color: F2F2F2;
    font-size:20px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    margin-left:322px;
    margin-top:-40px;
}

.content3_icon4{
    width:151px;
    height:40px;
    border-radius: 27px;
    color:9E9E9E;
    border:none;
    background-color: F2F2F2;
    font-size:20px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    margin-left:483px;
    margin-top:-40px;
}

.content3_icon5{
    width:151px;
    height:40px;
    border-radius: 27px;
    color:9E9E9E;
    border:none;
    background-color: F2F2F2;
    font-size:20px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    margin-top:-40px;
    margin-left:644px;
}

.content3_receipt{
    width:1119px;
    height:1145px;
    margin-top:40px;
}

.content3_receipt1{
    width:349px;
    height:351px;
    border-radius: 27px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content3_receipt1_text1{
    width:210px;
    height:64px;
    font-size:22px;
    margin-left:40px;
    padding-top:40px;
    font-family: 'Noto Sans KR', sans-serif;
}

.content3_receipt1_text2{
    width:197px;
    height:26px;
    color:B5B5B5;
    margin-left:40px;
    margin-top:10px;
}

.content3_receipt1_text3{
    width:203px;
    height:32px;
    margin-top:40px;
    margin-left:40px;
    font-size:22px;

}

.content3_receipt1_line{
    width:300px;
    margin-top:30px;
    color:EBEBEB;
}

.content3_receipt1_profile{
    margin-left:40px;
    margin-top:20px;
}

.content3_receipt1_profile_name{
    margin-top:-27px;
    margin-left:45px;
    font-size:16px;
}

.content3_receipt2{
    width:349px;
    height:351px;
    border-radius: 27px;
    margin-left:384px;
    margin-top:-351px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content3_receipt3{
    width:349px;
    height:351px;
    border-radius: 27px;
    margin-left:770px;
    margin-top:-351px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content3_receipt4{
    width:349px;
    height:351px;
    border-radius: 27px;
    margin-top:50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content3_receipt5{
    width:349px;
    height:351px;
    border-radius: 27px;
    margin-left:385px;
    margin-top:-351px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content3_receipt6{
    width:349px;
    height:351px;
    border-radius: 27px;
    margin-left:770px;
    margin-top:-351px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content3_receipt7{
    width:349px;
    height:351px;
    border-radius: 27px;
    margin-top:50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content3_receipt8{
    width:349px;
    height:351px;
    border-radius: 27px;
    margin-left:384px;
    margin-top:-349px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content3_receipt9{
    width:349px;
    height:351px;
    border-radius: 27px;
    margin-left:770px;
    margin-top:-351px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content3_receipt_btn{
    width:173px;
    height:55px;
    border-radius: 27px;
    text-align: center;   
    font-family: 'Noto Sans KR', sans-serif;     
    color:1824BF;
    border-color:1824BF;
    background-color: white;
    font-size:20px;
    font-family: 'Noto Sans KR', sans-serif;   
    margin-left:490px;  
    margin-top:100px;           
}

.content3_hide{
    display:none;
}

.show{
    display:block;
}


.a_title:link{
    text-decoration: none;
    color: black;
}

.a_title:visited{
    text-decoration: none;
    color: black;
}

.a_title:hover{
    text-decoration: none;
    color: #1824BF;
    font-weight: bold;
}




